@import '../../../../styles/viewport-sizes.scss';

.case-study-hero.keyme > .content-wrapper > .case-study-hero-featureblock .feature-block-image {
    @include phone {
        width: 200px;
        position: absolute;
        top: 24px;
        right: 2px;
    }
    @include tablet {
        position: absolute;
        top: 110px;
        right: -85px;
        margin: 0;
        padding: 0;
        transform: scale(.6);
    }
    @include desktop {
        position: absolute;
        top: 110px;
        right: 110px;
        margin: 0;
        padding: 0;
    }
}

.keyme > .development-features > .feature-block {
    @include phone {
        padding: 2em 0;
        width: 89%;
    }
}
.keyme > .development-features > .feature-block > .feature-block-details > .feature-block-project-description {
    @include phone {
        margin-bottom: 2em;
    }
}
.keyme {
    .why-appstem {
        @include tablet {
            margin-bottom: -5px;
        }
    }
    .second-full-image {
        @include phone {
            margin-bottom: -5px;
        }
        @include tablet {
            margin-bottom: -5px;
        }
        @include desktop {
            margin-bottom: -5px;
        }
    }
    .cta-wrapper > hr {
        @include phone {
            margin: 15px auto 25px auto;
        }
        @include tablet {
            margin: 15px auto 25px auto;
        }
        @include desktop {
            margin: 30px auto 75px auto;
        }
    }
    .development {
        @include desktop {
            padding-top: 210px;
        }
        & > .cta-wrapper > hr {
            @include desktop {
                margin: 30px auto 40px auto;
            }
        }
    }
}