@import '../../styles/styles.scss';

// Services page
$services-page-heading-color: $white;
$services-page-p-color: $secondary-font-color;
$services-page-block-p-color: $white;
$services-page-exertise-heading-color: #1B252F;
$services-page-exertise-block-color: #4a4a4a;
$services-page-exertise-block-color-mobile: #9B9B9B;
$services-page-exertise-project-type-color: #cccccc;
$services-page-exertise-project-type-color-mobile: #4A4A4A;
$services-page-see-what-we-made-block-color: #0E0E0E;

.services {
    color: $primary-font-color;
    background: $primary-background-color;
    top: -9.5em;
    z-index: -2;

    .what-we-do {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        h2 {
            font-size: 32px;
            font-weight: normal;
            letter-spacing: 6.4px;
            line-height: 46px;
            text-align: center;
            
            @include phone {
                font-size: 20px;
                letter-spacing: 4px;
                line-height: 29px;
            }
        }
        hr {
            width: 63px;
            height: 3px;
            border: none;
            margin-bottom: 3em;
            
            @include phone {
                width: 31px;
                height: 2px;
                margin-bottom: 0;
            }
        }
        p {
            height: 280px;
            width: 65%;
            color: $services-page-p-color;
            font-weight: normal;
            font-size: 24px;
            line-height: 40px;
            opacity: 0.9;
            
            @include phone {
                width: 81%;
                text-align: left;
                font-size: 16px;
                line-height: 24px;
                margin-top: 32px;
                margin-bottom: 76px;
            }
        }

        .services-block {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 10em;
            
            @include tablet {
                margin: 3rem auto;
            }
            @include phone {
                flex-direction: column;
            }

            img {
                height: 85px;
                width: 85px;
                margin-right: 111px;
                @include phone {
                    margin-right: 0;
                    height: 60px;
                    width: 50px;
                }
            }
            .services-block-text {
                margin-top: 25px;
                
                h2 {
                    font-size: 35px;
                    font-weight: normal;
                    letter-spacing: 7px;
                    line-height: 50px;
                    text-align: left;
                    @include phone {
                        font-size: 18px;
                        letter-spacing: 3.6px;
                        line-height: 50px;
                        text-align: center;
                    }
                }
                p {
                    height: 72px;
                    width: 483px;
                    color: $services-page-block-p-color;
                    font-size: 16px;
                    line-height: 24px;
                    @include phone {
                        font-size: 16px;
                        line-height: 24px;
                        text-align: center;
                        width: 89%;
                        margin: 0 auto;
                    }
                }
            }

        }
    }
}
.expertise {
    background: $secondary-background-color;

    .our-expertise {
        background: $secondary-background-color;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
        justify-items: center;
        padding: 10em 0;
        
        @include phone {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 4em 0;
        }
        
        h2 {
            color: $services-page-exertise-block-color;
            font-size: 32px;
            font-weight: normal;
            letter-spacing: 6.4px;
            line-height: 46px;
            grid-column: span 2;
            
            @include phone {
                font-size: 20px;
                letter-spacing: 4px;
                line-height: 29px;
                text-align: center;
            }
        }
        hr {
            grid-column: span 2;
        }

        .expertise-block {
            color: $services-page-exertise-block-color;
            font-size: 35px;
            font-weight: normal;
            letter-spacing: 7px;
            line-height: 50px;
            text-align: center;
            width: 10em;
            @include phone {
                width: 89%;
                margin: 1rem auto;
            }
            h2 {
                @include phone {
                    font-size: 18px;
                    letter-spacing: 3.6px;
                    line-height: 50px;
                }
            }

            p.description {
                color: $services-page-exertise-block-color;
                font-size: 18px;
                letter-spacing: 0.5px;
                line-height: 30px;
                text-align: center;
                @include phone {
                    font-size: 16px;
                    color: $services-page-exertise-block-color-mobile;
                    letter-spacing: 0.44px;
                    line-height: 30px;
                }
            }
            p.project-type {
                color: $services-page-exertise-project-type-color;
                font-size: 18px;
                font-weight: 500;
                letter-spacing: 0.5px;
                line-height: 30px;
                text-align: center;
                text-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
                @include phone {
                    font-size: 16px;
                    font-weight: 500;
                    color: $services-page-exertise-project-type-color-mobile;
                    letter-spacing: 0.44px;
                    line-height: 30px;
                }
            }
        }
    }
}

.last-section {
    background: $services-page-see-what-we-made-block-color;

    @include phone {
        display: none;
    }
    .see-what-we-made {
        height: 580px;
        max-width: 1200px;
        background-color: $services-page-see-what-we-made-block-color;
        color: $white;
        font-size: 35px;
        font-weight: normal;
        letter-spacing: 7px;
        line-height: 50px;
    }
}
// hack
.footer {
    margin-top: -2rem;
}
.footer-body > .nav-wrapper {
    z-index: 1;
}