@import '../../../../styles/viewport-sizes.scss';

.hubbub > .development-features > .feature-block > .feature-block-details > h2 {color: #ffffff !important;}
.hubbub > .development-features > .feature-block > .feature-block-details > .feature-block-project-description {color: #e7e7e7 !important;}
.hubbub > .development-features > .feature-block {
    @include phone {
        padding: 2em 0;
        width: 89%;
    }
}

.case-study-hero.hubbub > .content-wrapper > .case-study-hero-featureblock .feature-block-details > h2 {
    @include phone {
        top: -200px;
    }
}
.case-study-hero.hubbub > .content-wrapper > .case-study-hero-featureblock .feature-block-image {
    @include phone {
        width: 200px;
        position: absolute;
        top: 45px;
        right: 7px;
    }
}
.hubbub {
    .cta-wrapper > hr {
        @include phone {
            margin: 15px auto 25px auto;
        }
    }
    .second-full-image {
        @include phone {
            margin-bottom: -5px;
        }
    }
}