@import '../../styles/styles.scss';

// Careers page
$careers-page-heading-color: #1B252F;
$careers-page-text-color: #1B252F;
$careers-page-job-title-color: #4a4a4a;
$careers-page-job-meta-color: #9b9b9b;

.careers-wrapper {
    background: $secondary-background-color;
    padding-top: 5em;
    padding-bottom: 8em;
    @media (min-width: 768px) {
        margin-top: -7.2%;
    }

    .careers {
        width: 100%;
        text-align: left;
        background-color: $secondary-background-color;
        color: $careers-page-text-color;

        h2 {
            color: $careers-page-heading-color;
            @include phone {}
            @include tablet {
                padding: 0;
            }
        }

        .about-appstem {
            margin: 0 auto 70px auto;
            padding-top: 70px;
            @include phone {
                margin-bottom: 3em;
                padding-top: 56px;
            }

            p {
                margin: 3.5em auto 0 auto;
                width: 65%;
                color: #1B252F;
                font-size: 1.25rem;
                line-height: 40px;

                @include phone {
                    width: 89%;
                    font-size: 1rem;
                    line-height: 24px;
                }
            }
        }
        .why-appstem {
            margin: 163px auto 0;
            width: 39.5em;
            color: #1B252F;
            font-size: 1.25rem;
            line-height: 40px;

            @include tablet {
                width: 30em;
            }

            @include phone {
                width: 85%;
                margin-top: 30px;
            }

            ul {
                padding-left: 10px;
                list-style: '- ';
                @include phone {
                    font-size: 1rem;
                    line-height: 24px;
                }
            }

            p {
                @include phone {
                    font-size: 1rem;
                    font-weight: bold;
                    letter-spacing: 3.2px;
                    line-height: 27px;
                }
            }

        }
        .open-positions {
            @include desktop {
                margin-top: 307px;
            }
            @include tablet {
                margin-top: 163px;
            }
            @include phone {
                margin-top: 5em;
            }
        }

        p.send-an-email {
            font-size: 1.5rem;
            line-height: 42px;
            text-align: center;
            margin-top: 10em;
            @include phone {
                font-size: 1rem;
                line-height: 24px;
                width: 76%;
                margin: 96px auto 12px auto;
            }

            span {
                font-weight: bold;
            }
        }
    }
}