@import "~video-react/styles/scss/video-react";
@import '../../styles/styles.scss';

.culture-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
    position: relative;
    top: 80px;
    margin-bottom: 13em;
    background-color: $body-background-color;
    @include phone {
        margin-bottom: 137px;
    }

    .culture-who-we-are {
        
        @include phone {
            margin-bottom: 0;
        }

        p {
            color: $services-page-p-color;
            font-family: $primary-font-family;
            font-size: 28px;
            line-height: 42px;
    
            // if sibling p's, add margin
            &:nth-of-type(2) {
                margin-top: 2em;
            }
            @include desktop {
                padding: 0 28%;
            }
            @include phone {
                font-size: 16px;
                line-height: 24px;
                padding: 0 8.5%;
            }
            @include tablet {
                padding: 0 5em;
            }
        }
    }
    

    .video-react {
        width: 100%;
        max-width: 960px;
        // margin-top: 124px;
        // padding-top: 54em;
        @include tablet {
            margin: 124px auto 124px auto;
        }
        @include phone {
            margin-top: 85px;
        }
        .video-react-poster {
            background-color: #1e1e1e;
        }
    }
    .culture-work-as-team {
        
        p {
            color: $services-page-p-color;
            font-family: $primary-font-family;
    
            // if sibling p's, add margin
            &:nth-of-type(2) {
                margin-top: 2em;
            }
            @include desktop {
                width: 815px;
                margin: 0 auto;
                font-size: 24px;
                line-height: 42px;
                text-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
            }
            @include tablet {
                font-size: 24px;
                line-height: 42px;
                padding: 0 5em;
            }
            @include phone {
                font-size: 16px;
                line-height: 24px;
                padding: 0 8.5%;
            }
        }

        @include phone {
            margin-top: 85px;
        }
    }

    .culture-our-team {
        @include desktop {
            margin: 15em 0 5em 0;
        }
        @include tablet {
            margin-top: 7em;
        }
        @include phone {
            margin-top: 78px;
        }

        .culture-team-images {
            width: 100%;
            max-width: 970px;
            margin: 0 auto;
            display: grid;
            justify-items: center;

            @include phone {
                grid-template-columns: 1fr 1fr;
                grid-gap: 1em;
                margin-top: 34px;

                // .imagebox-wrapper:last-of-type {
                //     position: relative;
                //     left: 25%;
                // }

            }
            @include tablet {
                grid-template-columns: repeat(4,1fr);
                grid-gap: 1em;

                .imagebox-wrapper {
                    margin-bottom: 3em;
                }
                .imagebox-wrapper:nth-of-type(5),
                .imagebox-wrapper:nth-of-type(6),
                .imagebox-wrapper:nth-of-type(7) {
                    position: relative;
                    left: 14vw;
                }
            }
            @include desktop {
                grid-gap: 2em;
                grid-template-columns: repeat(24, 1fr);
                
                .imagebox-wrapper {
                    grid-column: span 6;
                    margin-bottom: 5em;
                }
                .imagebox-wrapper:nth-of-type(1) {
                    grid-column-start: 0;
                }
                .imagebox-wrapper:nth-of-type(2) {
                    grid-column-end: 13;
                }
                .imagebox-wrapper:nth-of-type(3) {
                    grid-column-end: 19;
                }
                .imagebox-wrapper:nth-of-type(4) {
                    grid-column-end: 25;
                }
                .imagebox-wrapper:nth-last-of-type(3) {
                    grid-column-end: 10;
                }
            }
            
        }
    }
    .culture-join-us {
        padding: 5em 0 10em 0;
        text-align: center;

        p {
            width: 549px;
            margin: 0 auto;
            
            @include desktop {
                    width: 549px;
                    font-size: 24px;
                    line-height: 42px;
                    text-align: center;
                    text-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
            }
            @include phone {
                width: 260px;
                padding: 0px;
                margin: 0 auto;
                text-align: center;
            }
        }
        .view-openings-link {
            top: 8em;
        }

    }
}
