@import "~video-react/styles/scss/video-react";
@import '../../styles/styles.scss';

// Culture page
$services-page-p-color: $secondary-font-color;
$testimonials-H2-color: #1B252F;

.culture {
    color: $primary-font-color;
    background-color: $primary-background-color;
    @media (min-width: 768px) {
        padding-top: 5em;
    }

    & .culture-who-we-are {
        
        @include phone {
            margin-bottom: 0;
        }
        & hr {
            margin-bottom: 53px;
        }

        p {
            color: $services-page-p-color;
            font-size: 1.75rem;
            line-height: 42px;
            margin: 0 auto;
    
            // if sibling p's, add margin
            &:nth-of-type(2) {
                margin-top: 2em;
            }
            @include desktop {
                width: 65%;
                // width: 780px;
                color: #E7E7E7;
                font-family: "Brandon Grotesque";
                font-size: 1.75rem;
                line-height: 42px;
            }
            @include tablet {
                width: 65%;
            }
            @include phone {
                width: 85%;
                font-size: 1rem;
                line-height: 24px;
            }
        }
    }

    & .video-react {
        width: 100%;
        max-width: 960px;
        margin: 0 auto;
        
        @include tablet {
            margin: 124px auto 124px auto;
        }
        @include phone {
            margin-top: 85px;
        }
        .video-react-poster {
            background-color: #1e1e1e;
        }
    }

    & .culture-work-as-team {
        @media (max-width: 767px) {}
        @media (min-width: 768px) {}
        
        @include phone {
            margin-top: 85px;
        }

        & hr {
            margin-bottom: 80px;
        }
        
        p {
            color: $services-page-p-color;
            margin: 0 auto;

            // if there are sibling p's, add margin
            &:nth-of-type(2) {
                margin-top: 2em;
            }
            @include desktop {
                width: 65%;
                // width: 780px;
                font-size: 1.5rem;
                line-height: 42px;
            }
            @include tablet {
                font-size: 1.5rem;
                line-height: 42px;
                width: 65%;
            }
            @include phone {
                font-size: 1rem;
                line-height: 24px;
                width: 85%;
            }
        }
    }

    & .culture-our-team {
        @include desktop {
            margin: 15em 0 5em 0;
        }
        @include tablet {
            margin-top: 7em;
        }
        @include phone {
            margin-top: 78px;
            width: 95%;
        }

        & hr {
            margin-bottom: 121px;
        }

        .culture-team-images {
            width: 100%;
            margin: 0 auto;
            display: grid;
            justify-items: center;

            @include phone {
                grid-template-columns: 1fr 1fr;
                grid-gap: 1em;
                margin-top: 34px;

                .imagebox-wrapper:last-of-type {
                    grid-column: -3 / span 2;
                    width: 47.5%;
                }

            }
            @include tablet {
                grid-template-columns: repeat(4,1fr);
                grid-gap: 1em;

                .imagebox-wrapper {
                    margin-bottom: 3em;
                }
                .imagebox-wrapper:nth-of-type(5),
                .imagebox-wrapper:nth-of-type(6),
                .imagebox-wrapper:nth-of-type(7) {
                    position: relative;
                    left: 14vw;
                }
            }
            @include desktop {
                grid-gap: 2em;
                grid-template-columns: repeat(24, 1fr);
                
                .imagebox-wrapper {
                    grid-column: span 6;
                    margin-bottom: 5em;
                }
                .imagebox-wrapper:nth-of-type(1) {
                    grid-column-start: 0;
                }
                .imagebox-wrapper:nth-of-type(2) {
                    grid-column-end: 13;
                }
                .imagebox-wrapper:nth-of-type(3) {
                    grid-column-end: 19;
                }
                .imagebox-wrapper:nth-of-type(4) {
                    grid-column-end: 25;
                }
                .imagebox-wrapper:nth-last-of-type(3) {
                    grid-column-end: 10;
                }
            }
            
        }
    }
    & .culture-join-us {
        padding: 5em 0 20em 0;
        text-align: center;
        @include phone {
            padding: 5em 0 15em 0;
        }
        & > h2 {}
        & > hr {
            margin-bottom: 67px;
        }
        & > p {
            width: 549px;
            margin: 0 auto;
            
            @include desktop {
                width: 549px;
                font-size: 1.5rem;
                line-height: 42px;
                text-align: center;
            }
            @include phone {
                width: 260px;
                padding: 0px;
                margin: 0 auto;
                text-align: center;
            }
        }
        & > .view-openings-link {
            top: 8em;
        }

    }
}
