@import '../../styles/styles.scss';

.hero {
    top: -40px;
    width: 100vw;
    z-index: -1;
    
    @include desktop {
        height: 37rem;
    }
    @include tablet {
        height: 33rem;
    }
    @include phone {
        height: 20rem;
    }
}

