@import '../../styles/styles.scss';

.hero {
    position: absolute !important;
    top: 0;
    width: 100vw;
    z-index: 1;
    @include desktop {
        height: 37rem;
    }
    @include tablet {
        height: 33rem;
    }
    @include phone {
        height: 20rem;
    }

    h1.title {
        position: relative;
        top: 5em;
        text-transform: uppercase;
        border: 1px solid $primary-font-color;
        max-width: 8em;
        color: $primary-font-color;
        font-family: $primary-font-family, sans-serif;
        font-size: 50px;
        font-weight: bold;
        letter-spacing: 7.59px;
        line-height: 92px;
        text-align: center;
        margin: 0 auto;


        @include phone {
            height: 82px;
            width: 232px;
            font-size: 24px;
            letter-spacing: 3.64px;
            line-height: 92px;
        }
    }
}

.hero-video {
    position: relative;
    top: -40px;
    width: 100vw;
    z-index: -1;
    
    @include desktop {
        height: auto;
        margin-bottom: -11rem;
    }
    @include tablet {
        margin-bottom: -12%;
    }

    @include phone {
        height: 20em;
        margin-bottom: -6rem;
        background: url('/assets/images/posterimage-home.jpg');
        background-size: cover;
        video {
            display: none;
        }

    }

    video {
        width: 100%;
    }
}

.hero-video ~ h1.title {
    grid-column: col-start / span 12;
    position: absolute;
    z-index: 1;
    color: $primary-font-color;
    font-family: $secondary-font-family;
    font-weight: 200;
    text-align: center;
    
    
    @include desktop {
        top: 10rem;
        width: 60%;
        margin: 0 20%;
        font-size: 96px;
        letter-spacing: -0.83px;
        line-height: 96px;

    }
    @include tablet {
        top: 2.5em;
        width: 50%;
        left: 28%;
        margin: 0 auto;
        font-size: 52px;
        line-height: 72px;
    }
    @include phone {
        width: 73%;
        font-size: 36px;
        font-weight: 200;
        letter-spacing: -0.31px;
        line-height: 48px;
        margin: 0;
        top: 3em;
        left: 13.5%;
    }
    // @media (min-width: 1301px) and (max-width: 1400px) {
    //     top: 250px !important;
    // }
    // @media (min-width: 1200px) and (max-width: 1300px) {
    //     top: 150px !important;
    // }
}