
.image-hero {
    display: flex;
    justify-content: center;
    align-items: center;

    & > .title {
        position: absolute;
        text-transform: uppercase;
        border: 1px solid #fafafa;
        color: #fafafa;
        text-align: center;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;

        @media (max-width: 767px) {
            top: 144px;
            width: 217.58px;
            font-size: 1.5rem;
            font-weight: bold;
            letter-spacing: 3.64px;
            line-height: 34px;
            padding: 18.5px 0;
        }
        @media (min-width: 768px) {
            top: 215px;
            width: 503.75px;
            font-size: 3.125rem;
            font-weight: bold;
            letter-spacing: 7.59px;
            line-height: 92px;
            padding: 17px 0;
        }
    }
}