$primary-font-color: #fafafa;
$secondary-font-color: #e7e7e7;
$third-font-color: #1e1e1e;
$primary-background-color: #1e1e1e;
$secondary-background-color: #fafafa;
$white: #ffffff;
$black: #000000;
$off-black: #0e0e0e;
$appstem-green: #3cd52e;

// Links
$link-color: $primary-font-color;