:root {
    --twitterIconHoverColor: #60b5f0;
    --facebookIconHoverColor: #4463a3;
    --instagramIconHoverColor: #e8496a;
    --mediumIconHoverColor: #00c080;
}
.social-icons-wrapper {
    height: 36px;
    width: 192px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 1rem;
}
.social-icon-twitter :hover {
    fill: var(--twitterIconHoverColor);
    transition: .3s;
}
.social-icon-facebook :hover {
    fill: var(--facebookIconHoverColor);
    transition: .3s;
}
.social-icon-instagram :hover {
    fill: var(--instagramIconHoverColor);
    transition: .3s;
}
.social-icon-medium :hover {
    fill: var(--mediumIconHoverColor);
    transition: .3s;
}