
.social-icons-wrapper {
    height: 36px;
    width: 192px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 1rem;
}
.social-icon-twitter :hover {
    fill: #60b5f0;
    transition: .3s;
}
.social-icon-facebook :hover {
    fill: #4463a3;
    transition: .3s;
}
.social-icon-instagram :hover {
    fill: #e8496a;
    transition: .3s;
}
.social-icon-medium :hover {
    fill: #00c080;
    transition: .3s;
}