@import '../../../../styles/viewport-sizes.scss';


.couchcritic > .content-wrapper > .case-study-hero-featureblock .feature-block-image {
    @include phone {
        width: 250px;
        position: absolute;
        top: 25px;
        right: 25px;
    }
    @include tablet {
        position: absolute;
        top: 155px;
        right: -35px;
        transform: scale(.7);
    }
    @include desktop {
        max-width: unset;
        position: absolute;
        top: -137px;
        right: -5px;
        transform: scale(.8);
    }
}
.couchcritic {
    .interaction > .feature-block {
        @include phone {
            width: 89%;
        }
    }
    .development-features > .feature-block {
        @include phone {
            padding: 5em 0;
            width: 89%;
        }
    }
    .styleguide,
    .second-full-image {
        margin-bottom: -5px;
    }
}
