@import "~video-react/styles/scss/video-react";
@import '../../styles/styles.scss';

.about {
    color: #fafafa;
    background-color: #1e1e1e;
    margin-top: -7%;
    
    & > .content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: relative;
        max-width: 1200px;
        @media (max-width: 767px) {
            margin-top: 60px;
        }
        @media (min-width: 768px) {
            margin-top: 260px;
        }

        & > .about-who-we-are {
            @media (max-width: 767px) {
                margin-bottom: 0;
            }

            & > h2 {
                color: #ffffff;
            }
            
            & > hr {
                box-sizing: border-box;
                @media (max-width: 767px) {
                    margin-top: 15px;
                    margin-bottom: 38.5px;
                    height: 3px;
                    width: 43px;
                    border: 1px solid #3CD52E;
                }
                @media (min-width: 768px) {
                    margin-top: 20px;
                    margin-bottom: 52px;
                    width: 102.38px;
                }
            }
    
            & > p {
                color: #e7e7e7;
                margin: 0 auto;
        
                // if sibling p's, add margin
                &:nth-of-type(2) {
                    margin-top: 2em;
                }
                @media (max-width: 767px) {
                    width: 81.87%;
                    font-size: 1rem;
                    line-height: 24px;
                }
                @media (min-width: 768px) {
                    width: 65%;
                    font-size: 1.75rem;
                    line-height: 42px;
                }
            }
        }
    
        & > .video-react {
            width: 100%;
            max-width: 960px;
            margin: 0 auto;
            
            // @include tablet {
            //     margin: 124px auto 124px auto;
            // }
            @media (max-width: 767px) {
                margin-top: 38px;
            }
            @media (min-width: 768px) {
                margin-top: 56px;
            }
            & > .video-react-poster {
                background-color: #1e1e1e;
            }
        }
    
        & > .about-work-as-team {
            @media (max-width: 767px) {
                margin-top: 55px;
            }
            @media (min-width: 768px) {}
    
            & > h2 {
                color: #ffffff;
                @media (max-width: 767px) {
                    font-size: 1.5rem;
                    font-weight: bold;
                    letter-spacing: 4px;
                    line-height: 34px;
                    text-align: center;
                }
                @media (min-width: 768px) {
                    margin-top: 166px;
                    font-size: 2rem;
                    font-weight: bold;
                    letter-spacing: 6.4px;
                    line-height: 46px;
                    text-align: center;
                }
            }
            & > hr {
                box-sizing: border-box;
                @media (max-width: 767px) {
                    margin-top: 13px;
                    margin-bottom: 23px;
                    height: 3px;
                    width: 43px;
                    border: 1px solid #3CD52E;
                }
                @media (min-width: 768px) {
                    height: 2px;
                    width: 102.38px;
                    border: 2px solid #3CD52E;
                    margin-bottom: 77px;
                }
            }
            
            & > p {
                color: #FFFFFF;
                margin: 0 auto;
    
                // if there are sibling p's, add margin
                &:nth-of-type(2) {
                    margin-top: 2em;
                }
                @media (max-width: 767px) {
                    font-size: 1rem;
                    line-height: 24px;
                    width: 81.87%;
                }
                @media (min-width: 768px) {
                    width: 54.17%;
                    font-size: 1.5rem;
                    line-height: 42px;
                }
                // @include tablet {
                //     font-size: 1.5rem;
                //     line-height: 42px;
                //     width: 65%;
                // }
            }
        }
    
        & > .about-our-team {
            // @include tablet {
            //     margin-top: 7em;
            // }
            @media (max-width: 767px) {
                margin-top: 78px;
            }
            @media (min-width: 768px) {
                margin: 15em 0 5em 0;
            }

            & > h2 {
                color: #ffffff;
                @media (max-width: 767px) {}
                @media (min-width: 768px) {}
            }
    
            & > hr {
                box-sizing: border-box;
                @media (max-width: 767px) {
                    height: 3px;
                    width: 43px;
                    border: 1px solid #3CD52E;
                    margin-top: 20px;
                }
                @media (min-width: 768px) {
                    width: 154.88px;
                    height: 2px;
                    border: 2px solid #3CD52E;
                    margin-bottom: 121px;
                }
            }
    
            & > .about-team-images {
                width: 100%;
                margin: 0 auto;
                display: grid;
                justify-items: center;
    
                @media (max-width: 767px) {
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 1em;
                    margin-top: 34px;
    
                    & > .imagebox-wrapper:last-of-type {
                        grid-column: -3 / span 2;
                        width: 47.5%;
                    }
    
                }
                // @include tablet {
                //     grid-template-columns: repeat(4,1fr);
                //     grid-gap: 1em;
    
                //     & > .imagebox-wrapper {
                //         margin-bottom: 3em;
                //     }
                //     & > .imagebox-wrapper:nth-of-type(5),
                //     & > .imagebox-wrapper:nth-of-type(6),
                //     & > .imagebox-wrapper:nth-of-type(7) {
                //         position: relative;
                //         left: 14vw;
                //     }
                // }
                @media (min-width: 768px) {
                    grid-gap: 2em;
                    grid-template-columns: repeat(24, 1fr);
                    
                    & > .imagebox-wrapper {
                        grid-column: span 6;
                        margin-bottom: 5em;
                    }
                    & > .imagebox-wrapper:nth-of-type(1) {
                        grid-column-start: 0;
                    }
                    & > .imagebox-wrapper:nth-of-type(2) {
                        grid-column-end: 13;
                    }
                    & > .imagebox-wrapper:nth-of-type(3) {
                        grid-column-end: 19;
                    }
                    & > .imagebox-wrapper:nth-of-type(4) {
                        grid-column-end: 25;
                    }
                    & > .imagebox-wrapper:nth-last-of-type(3) {
                        grid-column-end: 10;
                    }
                }
                
            }
        }
        & > .about-join-us-wrapper {
            background-color: rgba(0,0,0,0.25);
            
            & > .about-join-us {
                text-align: center;
                @media (max-width: 767px) {
                    margin-top: 114px;
                }
                @media (min-width: 768px) {
                    margin-top: 226px;
                }

                & > h2 {
                    color: #ffffff;
                    @media (max-width: 767px) {
                        font-size: 1.25rem;
                        font-weight: bold;
                        letter-spacing: 4px;
                        line-height: 29px;
                        text-align: center;
                    }
                }
                & > hr {
                    box-sizing: border-box;
                    @media (max-width: 767px) {
                        height: 2px;
                        width: 31px;
                        border: 1px solid #3CD52E;
                        margin-top: 15px;
                        margin-bottom: 39px;
                    }
                    @media (min-width: 768px) {
                        height: 2px;
                        width: 154.88px;
                        border: 2px solid #3CD52E;
                        margin-bottom: 67px;
                    }
                }
                & > p {
                    color: #ffffff;
                    @media (max-width: 767px) {
                        width: 69.33%;
                        font-size: 1rem;
                        line-height: 24px;
                        text-align: center;
                        margin: 0 auto;
                    }
                    @media (min-width: 768px) {
                        width: 549px;
                        font-size: 1.5rem;
                        line-height: 42px;
                        text-align: center;
                        margin: 0 auto;
                    }
                }
                & > .view-openings-link {
                    @media (max-width: 767px) {
                        margin-top: 81px;
                        margin-bottom: 131px;
                        padding: 20px 50px;
                    }
                    @media (min-width: 768px) {
                        padding: 27px 106px;
                        border: 1px solid #B3B3B3;
                        margin-top: 127px;
                        margin-bottom: 218.26px;
                    }
                }
        
            }
        }
    }
}
.testimonials-wrapper {
    margin-top: -7%;
}
