@import '../../styles/styles.scss';

.case-study {

    .cta-wrapper {
        h1,
        h2 {
            color: #1B252F;
            font-size: 2rem;
            font-weight: bold;
            letter-spacing: 6.4px;
            line-height: 46px;
            text-align: center;
        }
        p {
            color: #1B252F;
            font-size: 1.25rem;
            line-height: 40px;
        }
    }

    & > .big-picture-wrapper {
        width: 100%;
        background: #fafafa;
        margin: -7% auto;

        @media (max-width: 767px) {
            padding: 12em 0 8em;
        }
        @media (min-width: 768px) {
            padding: 6em 0;
        }
    
        & > .cta-wrapper {
            display: flex;
            flex-direction: column;

            @media (max-width: 767px) {
                width: 81.87%;
            }
            @media (min-width: 768px) {
                width: 62.5%;
                max-width: 1200px;
                padding: 10% 0;
            }

            & > h2 {
                @media (max-width: 767px) {
                    color: #1B252F;
                    font-size: 1.25rem;
                    font-weight: bold;
                    letter-spacing: 4px;
                    line-height: 29px;
                    text-align: center;
                }
                @media (min-width: 768px) {
                    color: #1B252F;
                    font-size: 2rem;
                    font-weight: bold;
                    letter-spacing: 6.4px;
                    line-height: 46px;
                    text-align: center;
                }
            }
            & > hr {
                @include phone {
                    margin: 15px auto 25px auto;
                }
            }

            & > p {
                margin: 0 auto;
                @media (max-width: 767px) {
                    color: #1B252F;
                    font-size: 1rem;
                    line-height: 24px;
                }
                @media (min-width: 768px) {
                    color: #1B252F;
                    font-size: 1.25rem;
                    line-height: 40px;
                }
            }
            & > .big-picture-button {
                border: 1px solid #1B252F;
                background-color: inherit;
                color: #1B252F;

                @media (max-width: 767px) {
                    font-size: 1rem;
                    font-weight: bold;
                    letter-spacing: 3.29px;
                    line-height: 24px;
                    text-align: center;
                    margin-top: 2em;
                }
                @media (min-width: 768px) {
                    margin-top: 67px;
                }
            }
        }
    }

    & > .first-full-image {
        & > img {
            width: 100%;
        }
    }

    & > .why-appstem {
        display: flex;
        place-content: center;
        place-items: center;

        @media (max-width: 767px) {
            padding: 4em 0;
        }
        @media (min-width: 768px) {
            padding: 6em 0;
        }

        & > .cta-wrapper {

            @media (max-width: 767px) {
                width: 81.87%;
            }
            @media (min-width: 768px) {
                width: 62.5%;
                max-width: 1200px;
                padding: 10% 0;
            }

            & > h2 {
                @media (max-width: 767px) {
                    color: #1B252F;
                    font-size: 1.25rem;
                    font-weight: bold;
                    letter-spacing: 4px;
                    line-height: 29px;
                    text-align: center;
                }
                @media (min-width: 768px) {
                    color: #1B252F;
                    font-size: 2rem;
                    font-weight: bold;
                    letter-spacing: 6.4px;
                    line-height: 46px;
                    text-align: center;
                }
            }

            & > p {
                margin: 0 auto;
                @media (max-width: 767px) {
                    color: #1B252F;
                    font-size: 1rem;
                    line-height: 24px;
                }
                @media (min-width: 768px) {
                    color: #1B252F;
                    font-size: 1.25rem;
                    line-height: 40px;
                }
            }
        }
    }

    & > .challenges {
        display: flex;
        place-content: center;
        place-items: center;

        @media (max-width: 767px) {
            padding: 4em 0;
        }
        @media (min-width: 768px) {
            padding: 6em 0;
        }

        & > .cta-wrapper {

            @media (max-width: 767px) {
                width: 81.87%;
            }
            @media (min-width: 768px) {
                width: 62.5%;
                max-width: 1200px;
                padding: 10% 0;
            }

            & > h2 {
                @media (max-width: 767px) {
                    color: #1B252F;
                    font-size: 1.25rem;
                    font-weight: bold;
                    letter-spacing: 4px;
                    line-height: 29px;
                    text-align: center;
                }
                @media (min-width: 768px) {
                    color: #1B252F;
                    font-size: 2rem;
                    font-weight: bold;
                    letter-spacing: 6.4px;
                    line-height: 46px;
                    text-align: center;
                }
            }

            & > p {
                margin: 0 auto;
                @media (max-width: 767px) {
                    color: #1B252F;
                    font-size: 1rem;
                    line-height: 24px;
                }
                @media (min-width: 768px) {
                    color: #1B252F;
                    font-size: 1.25rem;
                    line-height: 40px;
                }
            }
        }
    }

    & > .interaction {
        display: flex;
        place-content: center;
        place-items: center;

        @media (max-width: 767px) {
            padding: 4em 0;
        }
        @media (min-width: 768px) {
            padding: 6em 0;
        }

        & > .feature-block {
            margin: 0 auto;
            display: flex;
            
            @media (max-width: 767px) {
                flex-direction: column;
            }
            @media (min-width: 768px) {
                width: 100%;
                max-width: 796px;
                &.feature-image-left {
                    flex-direction: row;
                    & .feature-block-details {
                        margin-left: 67px;
                    }
                }
                &.feature-image-right {
                    flex-direction: row-reverse;
                    & .feature-block-details {
                        margin-right: 67px;
                    }
                }
                &:first-of-type > .feature-block-details {
                    justify-content: flex-start;
                }
                &:nth-of-type(2) > .feature-block-details {
                    justify-content: center;
                }
                &:nth-of-type(3) > .feature-block-details {
                    justify-content: flex-end;
                }
            }

            & > img {
                width: unset;
            }

            & > .feature-block-details {
                @media (max-width: 767px) {
                    margin-top: 30px;
                }
                @media (min-width: 767px) {
                    display: flex;
                    flex-direction: column;
                }
                
                & > h1,
                & > h2 {
                    color: #1B252F;
                    @media (max-width: 766px) {
                        font-size: 1rem;
                        font-weight: bold;
                        letter-spacing: 3.2px;
                        line-height: 25px;
                        text-align: center;
                    }
                    @media (min-width: 767px) {
                        font-size: 2.188rem;
                        font-weight: bold;
                        letter-spacing: 7px;
                        line-height: 50px;
                    }
                }
                & .feature-block-project-description {
                    color: #1B252F;
                    @media (max-width: 767px) {
                        font-size: 1rem;
                        line-height: 25px;
                    }
                    @media (min-width: 767px) {
                        font-size: 1.25rem;
                        line-height: 40px;
                    }
                }
            } 
        }
    }
    
    & > .development {
        display: flex;
        justify-content: center;

        @media (max-width: 768px) {
            padding: 5em 0;
        }
        @media (min-width: 768px) {
            padding: 9em 0;
        }

        & > .cta-wrapper {
            max-width: 1200px;
            display: flex;
            flex-direction: column;
            place-content: center;
            place-items: center;
            
            & > h1,
            & > h2 {
                @media (max-width: 767px) {
                    color: #1B252F;
                    font-size: 1.25rem;
                    font-weight: bold;
                    letter-spacing: 4px;
                    line-height: 29px;
                    text-align: center;
                }
                @media (min-width: 768px) {
                    color: #1B252F;
                    font-size: 2rem;
                    font-weight: bold;
                    letter-spacing: 6.4px;
                    line-height: 46px;
                    text-align: center;
                }
            }
            
            & > p {
                @media (max-width: 767px) {
                    width: 85.6%;
                    color: #1B252F;
                    font-size: 16px;
                    line-height: 24px;
                }
                @media (min-width: 768px) {
                    width: 55.5%;
                    color: #1B252F;
                    font-size: 1.25rem;
                    line-height: 40px;
                }
            }
            & > .wireframes {
                display: flex;
                
                @media (max-width: 767px) {
                    width: 80%;
                    margin-top: 5em;
                    flex-direction: column;
                    align-items: center;
                }
                @media (min-width: 768px) {
                    width: 100%;
                    margin-top: 9em;
                    justify-content: space-evenly;
                    align-items: center;
                }

                & > .wireframe-image {}
            }
        }

    }

    & > .development-features {
        @media (min-width: 768px) {
            padding: 6.75em 0;
        }

        & > .feature-block {
            margin: 0 auto;
            display: flex;
            
            @media (max-width: 767px) {
                flex-direction: column;
            }
            @media (min-width: 768px) {
                width: 100%;
                max-width: 796px;
                &.feature-image-left {
                    flex-direction: row;
                    & .feature-block-details {
                        margin-left: 67px;
                    }
                }
                &.feature-image-right {
                    flex-direction: row-reverse;
                    & .feature-block-details {
                        margin-right: 67px;
                    }
                }
                &:first-of-type > .feature-block-details {
                    justify-content: flex-start;
                }
                &:nth-of-type(2) > .feature-block-details {
                    justify-content: center;
                }
                &:nth-of-type(3) > .feature-block-details {
                    justify-content: flex-end;
                }
            }

            & > img {
                width: unset;
            }

            & > .feature-block-details {
                @media (max-width: 767px) {
                    margin-top: 30px;
                }
                @media (min-width: 767px) {
                    display: flex;
                    flex-direction: column;
                }
                
                & > h1,
                & > h2 {
                    color: #1B252F;
                    @media (max-width: 766px) {
                        font-size: 1rem;
                        font-weight: bold;
                        letter-spacing: 3.2px;
                        line-height: 25px;
                        text-align: center;
                    }
                    @media (min-width: 767px) {
                        font-size: 2.188rem;
                        font-weight: bold;
                        letter-spacing: 7px;
                        line-height: 50px;
                    }
                }
                & .feature-block-project-description {
                    color: #1B252F;
                    @media (max-width: 767px) {
                        font-size: 1rem;
                        line-height: 25px;
                    }
                    @media (min-width: 767px) {
                        font-size: 1.25rem;
                        line-height: 40px;
                    }
                }
            } 
        }
    }

    & > .styleguide {
        & > img {
            @media (max-width: 767px) {
                width: 100%;
            }
        }
    }
    
    & > .branding-section {}

    & > .second-full-image {
        & > img {
            width: 100%;
        }
        @include phone {}
        @include tablet {}
        @include desktop {}
    }

    & > .company-blurb-section {
        display: flex;
        place-items: center;

        @include phone {
            height: 571px;

        }
        @media (min-width: 768px) {
            height: 640px;
        }

        .company-blurb-wrapper {
            width: 100%;
            margin: 0 auto;
            display: flex;
            
            @include phone {
                flex-direction: column;
                place-items: center;
                align-items: center;
            }
            @media (min-width: 768px) {
                max-width: 1200px;
                place-content: center;
                place-items: center;
            }

            .company-blurb-image {
                @include phone {
                    transform: scale(0.6);
                }
            }
            .company-blurb-text {
                

                @include phone {
                    width: 80.53%;
                    margin-left: 0;

                    & > h2 {
                        color: #1B252F;
                        font-size: 1.5rem;
                        font-weight: bold;
                        letter-spacing: 4.8px;
                        line-height: 34px;
                        text-align: center;
                    }
    
                    p {
                        color: #1B252F;
                        font-size: 1rem;
                        line-height: 24px;
                        text-align: center;
                    }
        
                }
                @media (min-width: 768px) {
                    width: 47.36%;
                    margin-left: 120px;

                    & > h2 {
                        color: #1B252F;
                        font-size: 2.188rem;
                        font-weight: bold;
                        letter-spacing: 7px;
                        line-height: 50px;
                    }
    
                    p {
                        color: #1B252F;
                        font-size: 1.25rem;
                        line-height: 40px;
                    }
                }
            }
        }
    }    
}

.case-study ~ .section-link-wrapper {
    background: $off-black;
    .section-links {
        @media (max-width: 767px) {
            height: 344px;
        }
        @media (min-width: 768px) {
            height: 640px;
            max-width: 1200px;
        }
    }
}
