@import '../../styles/styles.scss';

.header-wrapper {
    position: absolute;
    z-index: 99;
    @include phone {
        .header-logo {
            margin-left: -1em;
        }
        .hamburger {
            margin-top: 0.5em;
        }
    }
}
h1.title {
    position: absolute;
    top: 2em;
    width: 7em;
    z-index: 99;
    color: $primary-font-color;
    font-family: $secondary-font-family;
    font-size: 96px;
    font-weight: 200;
    letter-spacing: -0.83px;
    line-height: 96px;
    text-align: center;
    @include tablet {
        // width: 90%;
    }
    @include phone {
        // width: 89%;
        font-size: 36px;
        font-weight: 200;
        letter-spacing: -0.31px;
        line-height: 48px;
        margin: 0;
        top: 3em;
    }
}

.home-wrapper {
    width: 100%;
    position: relative;
    padding-bottom: 200px;
    @include phone {
        padding-bottom: 0;
    }

    .home-text {
        height: 675px;
        top: -111px;
        
        @include phone {
            height: 275px;
            width: 100%;
            top: 0;
        }

        p {
            width: 68%;
            color: $white;
            font-family: $primary-font-family;
            font-size: 36px;
            line-height: 72px;
            text-align: center;
            margin: 250px auto;
            
            @include phone {
                width: 89%;
                font-size: 20px;
                line-height: 32px;
                margin: 2em auto;
            }
        }
    }
    .case-study-1 {
        height: 500px;
        padding: 10% 0;
        top: -222px;
        @include phone {
            top: 0;
            height: 475px;
            padding-top: 4em;
            .feature-block-image {
                width: 60%;
            }
        }
    }
    .case-study-2 {
        height: 500px;
        padding: 10% 0;
        background-color: #1C1819;
        top: -333px;
        @include phone {
            top: 0;
            padding: 1em 0;
            height: 420px;
        }
    }
    .case-study-3 {
        height: 500px;
        padding: 10% 0;
        top: -444px;
        @include phone {
            top: 0;
            height: 430px;
            .feature-block-image {
                max-width: 320px;
            }
        }
    }
    .view-portfolio-link {
        top: -444px;
        @include phone {
            top: 0;
            margin-bottom: 4em;
        }
    }

}
