@import '../../styles/styles.scss';

.contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    top: -80px;
    color: $page-text-color;
    background-color: $page-background-color;


    .link {
        color: $page-text-color;
    }
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    max-width: 800px;

    .contact-form-submit {
        height: 72px;
        width: 221px;
        color: $body-text-color;
        background-color: $appstem-green;
        font-family: brandon-grotesque;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 3.2px;
        text-align: center;
        border: none;
        border-radius: 3px;
        margin-top: 5em;
    }
}

.contact-form-field-wrapper {
    width: 100%;
    
    label {
        position: relative;
        top: -2em;
        left: 5px;
        transition: all .2s linear;
    }
    input {
        width: 100%;
        border: none;
        border-bottom: 1px solid $form-inactive-border-color;
        background-color: inherit;
        
        &:focus + label {
            /* transform: scale(0.5) translate(-50%, -50%); */
            color: $appstem-green;
            top: -40px;
            font-size: 0.75em;
        }
        &:focus,
        textarea:focus {
            border-bottom: 1px solid $form-active-border-color;
        }
    }
}

/* Breakpoints */

@media (max-width: 800px) {
    .contact-form-field-wrapper > label {
        color: $form-text-color-mobile;
        font-size: 14px;
        letter-spacing: 1.75px;
        line-height: 20px;
    }
}
