:root {
    --form-heading-color: ##1B252F;
    --form-active-border-color: #3CD52E;
    --form-inactive-border-color: #A29E9E;
}
.contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    top: -80px;
    color: var(--page-text-color);
    background: var(--page-background-color) url('./mask.png') no-repeat;
    padding-bottom: 3em;
}
.hero-wrapper {
    width: 100%;
    height: 40em;
}
.hr-contact-heading {
    width: 3em;
    color: var(--appstem-green);
}
#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.contact-form-field-wrapper {
    width: 100%;
}
.contact-form-field-wrapper > label {
    position: relative;
    top: 1em;
    left: 1em;
    transition: transform .2s;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--form-inactive-border-color);
}
#contact-form input:focus,
#contact-form textarea:focus {
    border-bottom: 1px solid var(--form-active-border-color);
}
label[for]:focus {
    -ms-transform: translate(-15px,-15px); /* IE 9 */
    -webkit-transform: translate(-15px,-15px); /* Safari */
    transform: translate(-15px,-15px) scale(.25);
}
#contact-form .contact-form-submit {
    height: 72px;
    width: 221px;
    color: var(--body-text-color);
	background-color: var(--appstem-green);
    font-family: brandon-grotesque;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3.2px;
    text-align: center;
    border: none;
    border-radius: 3px;
    margin-top: 5em;
}
.link {
    color: var(--page-text-color);
}

@media print, screen and (min-width: 1000px) {
    #contact-form {
        max-width: 800px;
    }
}