@import '../../styles/styles.scss';

// Forms
$form-heading-color: #1B252F;
$form-active-border-color: $appstem-green;
$form-inactive-border-color: #A29E9E;
$form-text-color-mobile: #4A4A4A;

.contact {
    color: $third-font-color;
    background: $secondary-background-color;
    @media (min-width: 768px) {
        margin-top: -7.2%;
    }
    @include phone {
        padding-top: 5em;
        margin-top: -7%;
    }
    
    .cta-wrapper {

        h2 {
            @include phone {
                font-size: 1.25rem;
                line-height: 29px;
                letter-spacing: 4px;
            }
        }
    }

    #contact-form {
        width: 80%;
        max-width: 800px;
        margin-top: 7em;
        @include phone {
            margin-top: 3rem;
        }

        .contact-form-field-wrapper {
            width: 100%;
            margin-bottom: 2em;
            text-align: left;
            
            // label {
            //     position: relative;
            //     top: -45px;
            //     left: 5px;
            //     color: $form-inactive-border-color;
            //     font-size: 1rem;
            //     letter-spacing: 2px;
            //     line-height: 23px;
            //     transition: all .2s linear;

            //     @include phone {
            //         color: $form-text-color-mobile;
            //         font-size: 0.875rem;
            //         letter-spacing: 1.75px;
            //         line-height: 20px;
            //     }

            //     label.has-value {
            //         // force label to stay in elevated position if input has a value
            //         top: -45px;
            //     }
            // }
            input {
                width: 100%;
                border: none;
                border-bottom: 1px solid $form-inactive-border-color;
                background-color: inherit;
                color: $form-inactive-border-color;
                font-size: 1rem;
                letter-spacing: 2px;
                line-height: 23px;
                
                // &:focus + label {
                //     /* transform: scale(0.5) translate(-50%, -50%); */
                //     color: $appstem-green;
                //     top: -45px;
                //     font-size: 0.75em;
                // }
                &:focus,
                textarea:focus {
                    border-bottom: 1px solid $form-active-border-color;
                }
            }
        }
    
        .contact-form-submit {
            margin-top: 5em;
        }
    }


    .view-openings-wrapper {
        width: 100%;
        text-align: center;
        margin: 220px 0;
        @include phone {
            margin: 6rem auto;
        }

        h2 {
            font-size: 2rem;
            font-weight: normal;
            letter-spacing: 6.4px;
            line-height: 46px;
            text-align: center;
            
            @include phone {
                font-size: 1.25rem;
                font-weight: bold;
                letter-spacing: 4px;
                line-height: 29px;
            }
        }
        p {
            margin: 70px 0 80px 0;
            font-size: 1.25rem;
            line-height: 40px;
            @include phone {
                padding: 0 1em;
                font-size: 1rem;
                line-height: 24px;
            }
        }
        .openings-link {
            color: $form-text-color-mobile;
            font-size: 1rem;
            letter-spacing: 3.29px;
            line-height: 24px;
            @include phone {
                font-size: 0.9375rem;
                line-height: 3.08px;
                font-weight: bold;
            }
        }
        .openings-link-arrow {
            color: $form-text-color-mobile;
            position: relative;
            top: -2px;
            left: 5px;
            font-size: 1em;
        }
    }
        
}
