.apply-button {
    height: 72px;
    width: 221px;
    background-color: #3CD52E;
    margin: 80px auto 0;
    color: #FAFAFA;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3.2px;
    line-height: 23px;
    text-align: center;
    border: 0;
}