@import '../../../styles/styles.scss';

.apply-button-wrapper {
    text-align: center;

    a {

        .apply-button {
            height: 72px;
            width: 221px;
            background-color: $appstem-green;
            color: #FAFAFA;
            font-size: 1rem;
            font-weight: bold;
            letter-spacing: 3.2px;
            line-height: 23px;
            text-align: center;
            border: 0;
        }
    }
}