@import '../../styles/styles.scss';

.header-wrapper {
    position: relative;
    top: 20px;
    z-index: 1;
    height: 40px;
    width: 100%;
    color: $body-text-color;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .header-logo {
        margin-left: 2rem;
    }
    
    nav {
        margin-right: 7em;
        
        a:hover {
            text-decoration: underline;
        }
        a:nth-of-type(4) {
            display: none;
        }
    }
}


/* Breakpoints */
@media (max-width: 805px) {
    .header-logo {
        margin-left: -2em;
    }
    .hamburger {
        margin-right: 2em;
    }
}