@import '../../styles/styles.scss';

.header-wrapper {
    position: relative;
    top: 62px;
    z-index: 1;
    height: 40px;
    width: 100%;
    color: $body-text-color;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 99;

    @include phone {
        top: 31px;
    }

    .header-logo {
        margin-left: 7.5em;
        width: 148px;
        height: 24px;

        @include phone {
            margin-left: 1.25em;
            width: 124px;
            height: 21px;
        }
        @include tablet {
            margin-left: 4.5em;
        }
    }

    .nav-wrapper nav {
        
        a:nth-of-type(4) {
            display: none;
        }
    }

}
