
.header-wrapper {
    height: 40px;
    width: 100%;
    color: #fefefe;
    background: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    padding-left: 2rem;
}
.header-wrapper nav a:hover {
    text-decoration: underline;
}