@import '../../styles/styles.scss';

.header {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 12% 1fr;
    position: relative;
    top: 62px;
    height: 40px;
    max-width: 1200px;
    color: $primary-font-color;
    background: transparent;
    z-index: 99;
    align-items: center;
    margin: 0 1.25em;
    @media (min-width: 1260px) {
        margin: 0 auto;
    }

    @include phone {
        top: 31px;
    }

    .header-logo {
        width: 148px;
        height: 24px;

        @include phone {
            width: 124px;
            height: 21px;
        }
    }

    .nav-wrapper {
        justify-self: end;

        nav {
        
            a:nth-of-type(4) {
                display: none;
            }
        }
    }

}
