
.header-wrapper {
    height: 40px;
    width: 100%;
    color: white;
    background: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}