@import '../../../styles/styles.scss';

.angled-section {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-gap: 0;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, rgba(62,62,62,0.52) 0%, rgba(12,12,12,0.38) 100%);
  
    & > * {
        grid-column: col-start / span 12;
    }
  }