
@import '../../../styles/viewport-sizes.scss';

.cta-wrapper {
    width: 100%;
    position: relative;
    align-items: center;

    h2 {
        margin: 0;
        text-align: center;
    }

    hr {
        width: 63px;
        height: 3px;
        border: none;
        margin-bottom: 3em;

        @include phone {
            width: 31px;
            height: 2px;
        }
    }
}