@import '../../../../styles/viewport-sizes.scss';

.case-study-hero.dufl > .content-wrapper > .case-study-hero-featureblock .feature-block-image {
    @include phone {
        width: 200px;
        position: absolute;
        top: 32px;
        right: 7px;
    }
    @include tablet {
        position: absolute;
        top: 95px;
        right: -66px;
        transform: scale(.55);
    }
    @include desktop {
        position: relative;
        right: -10px;
    }
}
.case-study.dufl > .second-full-image > img {
    @include phone {
        margin-bottom: -5px;
    }
    @include tablet {
        margin-bottom: -5px;
    }
    @include desktop {
        margin-bottom: -5px;
    }
}
.dufl {
    .cta-wrapper > hr {
        @include phone {
            margin: 15px auto 25px auto;
        }
    }
}
.dufl > .development-features > .feature-block {
    @include phone {
        padding: 1em 0;
        width: 89%;
    }
}