@import '../../styles/viewport-sizes.scss';

.Collapsible {
    margin: 67px auto;
    @media (min-width: 768px) {
        width: 81%;
        max-width: 974px;
    }
    // @include tablet {
    //     width: 89%;
    // }
    @media (max-width: 767px) {
        width: 80%;
        margin: 0 auto;
    }

    & > .Collapsible__trigger {
        &.is-closed {
            .trigger-button {
                content: url(/assets/images/icons/circle-outline-with-plus-sign.svg);
            }
        }
        &.is-open {
            .trigger-button {
                content: url(/assets/images/icons/circle-outline-with-dash.svg);
            }
        }
        & > .job-opening-trigger {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            @media (max-width: 767px) {
                flex-direction: column;
                align-items: flex-start;
            }
    
            & > .job-title {
                color: #4A4A4A;
                font-size: 1.5rem;
                font-weight: bold;
                letter-spacing: 1.8px;
                line-height: 24px;
                @media (max-width: 767px) {
                    font-size: 0.875rem;
                    letter-spacing: 1.05px;
                }
                @media (min-width: 768px) and (max-width: 800px) {
                    font-size: 1.25rem;
                }
            }
    
            & > .job-meta {
                width: 22em;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                @media (max-width: 767px) {
                    width: 100%;
                    margin-top: 7px;
                }
    
                & > .job-type {
                    color: #9B9B9B;
                    font-size: 1.5rem;
                    letter-spacing: 1.8px;
                    line-height: 24px;
                    @media (max-width: 767px) {
                        font-size: 1rem;
                        letter-spacing: 1.2px;
                    }
    
                    & > img {
                        height: 16px;
                        width: 16px;
                    }
                }
                & > .job-location {
                    color: #9B9B9B;
                    font-size: 1.5rem;
                    letter-spacing: 1.8px;
                    line-height: 24px;
                    @media (max-width: 767px) {
                        font-size: 1rem;
                        letter-spacing: 1.2px;
                    }
    
                    & > img {
                        height: 16px;
                        width: 10px;
                    }
                }
                & > .trigger-button {
                    height: 19px;
                    width: 19px;
                }
            }
        }
    }

    
    & > .Collapsible__contentOuter {

        & > .Collapsible__contentInner {
    
            & > p:first-of-type {
                @media (max-width: 767px) {
                    color: #1B252F;
                    font-size: 1rem;
                    line-height: 24px;
                }
                @media (min-width: 768px) {
                    margin-top: 72px;
                    color: #000000;
                    font-size: 1.25rem;
                    letter-spacing: 0.29px;
                    line-height: 42px;
                    // text-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
                }
            }
    
            & > .about-role {
                display: flex;
                @media (max-width: 767px) {
                    flex-direction: column;
                    color: #1B252F;
                    font-size: 1rem;
                    line-height: 24px;
                }
                @media (min-width: 768px) {
                    flex-direction: row;
                    margin: 72px auto;
                }
    
                & > h2 {
                    text-align: left;
                    @media (max-width: 767px) {
                        font-size: 1.125rem;
                        font-weight: bold;
                        letter-spacing: 3.6px;
                        line-height: 50px;
                    }
                    @media (min-width: 768px) {
                        color: #4A4A4A;
                        font-size: 1.25rem;
                        font-weight: bold;
                        letter-spacing: 4px;
                        line-height: 42px;
                    }
                    @media (min-width: 768px) and (max-width: 800px) {
                        width: 320px;
                    }
                    @media (min-width: 801px) and (max-width: 1025px) {
                        width: 235px;
                    }
                }
                & > p {
                    @media (max-width: 767px) {}
                    @media (min-width: 768px) {
                        width: 55%;
                        margin: 0 0 0 181px;
                        color: #000000;
                        font-size: 1.25rem;
                        letter-spacing: 0.29px;
                        line-height: 42px;
                        // text-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
                    }
                    @media (min-width: 768px) and (max-width: 800px) {
                        margin: 0 0 0 80px;
                    }
                    @media (min-width: 801px) and (max-width: 1025px) {
                        margin: 0 0 0 170px;
                    }
                }
            }
            & > .skills {
                display: flex;
                flex-direction: row;
                @media (max-width: 767px) {
                    flex-direction: column;
                    color: #1B252F;
                    font-size: 1rem;
                    line-height: 24px;
                }
                & > h2 {
                    color: #4A4A4A;
                    text-align: left;
                    @media (max-width: 767px) {
                        font-size: 1.125rem;
                        font-weight: bold;
                        letter-spacing: 3.6px;
                        line-height: 30px;
                    }
                    @media (min-width: 768px) {
                        color: #4A4A4A;
                        font-size: 1.25rem;
                        font-weight: bold;
                        letter-spacing: 4px;
                        line-height: 42px;
                    }
                    @media (min-width: 768px) and (max-width: 800px) {
                        width: 500px;
                        margin-right: 115px;
                    }
                    @media (min-width: 801px) and (max-width: 1025px) {
                        width: 320px;
                    }
                    @media (min-width: 1026px) {
                        width: 265px;
                    }
                }
                & > .skill-wrapper {
                    @media (max-width: 767px) {}
                    @media (min-width: 768px) and (max-width: 800px) {
                        margin: 0;
                    }
                    @media (min-width: 801px) and (max-width: 1025px) {
                        margin: 0 0 0 165px;
                    }
                    @media (min-width: 1101px) {
                        margin: 0 0 0 160px;
                    }

                    & > ul {
                        @media (max-width: 767px) {
                            color: #1B252F;
                            font-size: 1rem;
                            line-height: 24px;
                            padding-left: 16px;
                        }
                        @media (min-width: 768px) {
                            color: #000000;
                            font-size: 1.25rem;
                            line-height: 42px;
                        }
                    }
                    & > p {
                        text-transform: uppercase;
                        @media (max-width: 767px) {
                            font-size: 1.125rem;
                            font-weight: bold;
                            letter-spacing: 3.6px;
                            line-height: 30px;
                        }
                        @media (min-width: 768px) {
                            color: #000000;
                            font-size: 1.25rem;
                            line-height: 42px;
                            font-weight: bold;
                            margin-left: 20px;
                        }
                    }
                }
            }
            .apply-button {
                @media (max-width: 767px) {
                    margin: 66px auto 0 auto;
                }
                @media(min-width: 768px) and (max-width: 800px) {
                    margin: 72px 0 0 47%;
                }
                @media(min-width: 801px) and (max-width: 1025px) {
                    margin: 72px 0 0 180px;
                }
                @media (min-width: 1026px) {
                    margin: 72px 0 0 50px;
                }
            }
        }
    }
}
