:root {
    --footerNavHoverColor: #36cd1d;
}
.footer-wrapper {
    padding: 1rem;
}
.footer-wrapper nav {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}
.footer-wrapper nav a:hover {
    color: var(--footerNavHoverColor);
}
.footer-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
    margin: 5rem 0;
}
.footer-body a:hover {
    text-decoration: underline;
}
.footer-contact-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1rem;
}
.footer-body-email-block {
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
}
.footer-body-address-block {
    display: flex;
    padding-top: 7px;
}
.footer-email-icon {
    margin-right: 1rem;
}
.footer-phone-icon {
    margin-right: 1rem;
}
.footer-map-icon {
    margin-right: 1rem;
}
.footer-hr {}
.footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.footer-copyright {
    font-size: 1.05rem;
}
address {
    font-style: normal;
}