@import '../../styles/styles.scss';

.footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    font-size: 13px;
    letter-spacing: 3.25px;
    line-height: 24px;

    .footer-body {
        padding: 0 1em;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 'left right';
        padding-bottom: 5em;
        
        // a:hover {
        //     text-decoration: underline;
        // }
        .nav-wrapper {
            justify-self: center;
            
            .footer-nav {
                display: flex;
                flex-direction: column;
                color: $link-color;
                font-family: brandon-grotesque;
                font-size: 13px;
                font-weight: normal;
                letter-spacing: 3.25px;
                line-height: 24px;
                
                a {
                    padding: 0 0 0.5em 0;

                    &:hover {
                        color: $footerNavHoverColor;
                        text-decoration: none;
                    }
                    
                    &:last-child {
                        border: none;
                        margin: 0;
                    }
                }
            }
        }
        .footer-contact-info {
            display: grid;
            grid-template-columns: 1fr 3fr;
            grid-template-areas: 'addresses form';
            grid-gap: 25%;

            .footer-addresses {
                grid-area: addresses;
                font-family: brandon-grotesque;

                .footer-address-block {
                    opacity: 0.7;
                    font-size: 13px;
                    line-height: 19px;
                    margin-bottom: 1em;

                    a {
                        color: $link-color;
                        &:hover {
                            color: $footerNavHoverColor;
                        }
                        
                        address {
                            font-style: normal;
                        }
                    }
                }

                h4.footer-heading {
                    color: $footer-heading-color;
                    font-family: brandon-grotesque;
                    font-size: 13px;
                    font-weight: normal;
                    line-height: 19px;
                    opacity: 1;
                    margin: 0;
                }
                h4.footer-heading:first-of-type {
                    letter-spacing: 3.25px;
                    line-height: 24px;
                }
                
            }
            
            .footer-email-form-wrapper {
                grid-area: form;
                font-size: 13px;
                font-weight: bold;
                letter-spacing: 3.25px;
                line-height: 24px;
                position: relative;
                margin-right: 5em;

                #footer-email-form {
                    position: relative;
                    display: grid;

                    #footerEmail {
                        border: none;
                        border-bottom: 1px solid #9B9B9B;
                        background-color: inherit;
                        width: 310px;
                        color: $appstem-green;

                        &:focus + label {
                            transform: translate(-50px, -15px) scale(0.75);
                            color: $appstem-green;
                            opacity: 1;
                        }
                    }
                    
                    .footer-email-label {
                        opacity: 0.5;
                        font-size: 16px;
                        line-height: 29px;
                        position: relative;
                        transition: all .2s linear;
                        top: -25px;
                    }
                    .footer-email-submit-button {
                        position: relative;
                        top: -47px;
                        left: 296px;
                        background: url('./ic_arrow_green.png');
                        background-repeat: no-repeat;
                        border: 0;
                        display: inline-block;
                        height: 20px;
                        width: 22px;
                    }
                }
            }
            .social-icons-wrapper {
                grid-area: form;
                position: relative;
                top: 10em;
            }
        }
    }
    .footer-bottom {
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $footerBottomBackgroundColor;

        .footer-copyright {
            height: 16px;
            color: #8E8E8E;
            font-family: brandon-grotesque;
            font-size: 11px;
            letter-spacing: 0.85px;
            line-height: 16px;
        }
    }
}

/* Breakpoints */

@media (max-width: 800px) {
    .footer-wrapper .nav-wrapper {
        display: none;
    }
    .footer-body {
        grid-template-columns: 1fr;
        grid-template-areas: 'left';
        padding-bottom: 3em;
    }
    .footer-contact-info {
        grid-template-columns: 1fr;
        grid-template-areas: 'form'
                              'addresses'
                              'social';
        grid-gap: unset;
        grid-template-rows: 15vh 1fr 10vh;
        justify-items: center;

        .footer-addresses {
            margin-left: 0;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: normal;

            .footer-heading {
                font-size: 13px;
                line-height: 24px;
                letter-spacing: 2.89px;
            }
            
            address {
                font-size: 14px;
                line-height: 24px;
            }
        }
        .footer-email-form-wrapper {
            display: grid;
            grid-auto-rows: 1fr;
            justify-items: center;
            margin: 0;

            #footer-email-form {
                grid-template-areas: 'button' 'input';
                grid-template-rows: 1fr 1fr;
                justify-items: center;
                align-items: center;
                
                #footerEmail {
                    grid-area: input;
                    width: 231px;
                    color: $appstem-green;
                }
                .footer-email-label {
                    grid-area: button;
                    left: -50px;
                    top: 25px;
                }
                .footer-email-submit-button {
                    grid-area: button;
                    left: 110px;
                    top: 35px;
                }
            }
        }
        .social-icons-wrapper {
            grid-area: social;
            top: 2em;
        }
    }
}