@import '../../styles/styles.scss';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

// Testimonials
$testimonials-company-color: #A7A7A7;
$testimonials-text-color: #222222;

.testimonial-slider {
    background-color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    @include desktop {
        margin: 0 auto;

    }
    @include tablet {
        margin: 0 auto;
    }
    @include phone {
        margin: 0 auto;
        
        hr {
            width: 43px;
        }

    }

    
    .cta-wrapper {

        & > h2 + hr {
            @include desktop {
                margin-bottom: 182px;
            }
            @include tablet {
                margin-bottom: 135px;
            }
            @include phone {
                margin-bottom: 96px;
            }
        }

        .slick-slider {
            margin: 0 auto;
            
            @include tablet {
                width: 65%;
            }
            @include phone {
                width: 100%;
            }

            .testimonial-content {
                margin: 0 auto;
                color: $testimonials-text-color;
                font-size: 1.5rem;
                font-style: italic;
                font-weight: 300;
                line-height: 36px;
                text-align: center;
                @include desktop {
                    width: 52%;
                }
                @include tablet {
                    width: auto;
                }
                @include phone {
                    font-size: 1rem;
                    font-style: italic;
                    font-weight: 300;
                    line-height: 24px;
                    text-align: center;
                    margin: 0 auto;
                    width: 80%;
                }
                &:before {
                    content: "\201C";
                    color: $appstem-green;
                    position: relative;
                    @include desktop {
                        top: 35px;
                        left: 0px;
                        font-size: 475%;
                    }
                    @include tablet {
                        top: 25px;
                        left: 0;
                        font-size: 400%;
                    }
                    @include phone {
                        left: 0;
                        top: 0;
                        font-size: 150%;
                    }
                }
            }
            .quote-author-wrapper {
                position: relative;
                left: 65%;
                @include desktop {
                    margin-top: 60px;
                }
                @include tablet {
                    left: 0;
                    text-align: center;
                }
                @include phone {
                    left: 0;
                    text-align: center;
                }

                hr {
                    position: relative;
                    @include desktop {
                        left: 52%;
                    }
                    @include tablet {
                        left: 0;
                    }
                    @include phone {
                        left: 0;
                    }
                }

                .testimonial-author {
                    color: $testimonials-text-color;
                    font-size: 1.25rem;
                    font-weight: 500;
                    line-height: 24px;
                    @include desktop {
                        margin-top: 1em;
                    }
                    @include phone {
                        margin-top: 0.5em;
                    }
                }
                .testimonial-company {
                    color: $testimonials-company-color;
                    font-size: 1rem;
                    font-style: italic;
                    font-weight: 500;
                    line-height: 24px;
                }
            }
    
            .slick-arrow,
            .slick-arrow:before {
                display: none;
                color: inherit;
            }
            .slick-dots {
                position: relative;
                bottom: 0;
                margin-top: 58px;
    
                li button:hover {
                    &:before {
                        border-color: $appstem-green;
                    }
                }
                li button:before {
                    color: transparent;
                    font-size: 1rem;
                    border: 2px solid grey;
                    border-radius: 12px;
                }
                li.slick-active {
                    button:before {
                        color: $appstem-green;
                        border: 2px solid $appstem-green;
                        background-color: $appstem-green;
                    }
                }
            }
        }

        .quote-author-wrapper hr {
            margin-bottom: 1em;
        }
    }
}
