@import '../../styles/styles.scss';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

// Testimonials
$testimonials-company-color: #A7A7A7;
$testimonials-text-color: #222222;

.testimonial-slider {
    background-color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;

    .cta-wrapper {

        & > h2 + hr {
            @include desktop {
                margin-bottom: 182px;
            }
            @include tablet {
                margin-bottom: 135px;
            }
            @include phone {
                margin-bottom: 96px;
            }
        }

        .slick-slider {
            margin: 0 auto;
            @media (min-width: 768px) {
               width: 100%;

            }
            // @include tablet {
            // }
            @media (max-width: 767px) {
                width: 100%;
            }
            & > .slick-list {
                overflow: visible;

                & > .slick-track > .slick-slide > div {
                    position: relative;
                    margin: 0 auto;
                    height: 238px;
                    @media (max-width: 767px) {
                        max-width: 80%;
                    }
                    @media (min-width: 768px) {
                        max-width: 644px;
                    }
                }

                .testimonial-content {
                    margin: 0 auto;
                    position: relative;
                    overflow: visible;
                    @media (min-width: 768px) {
                        width: 644px;
                        color: #222222;
                        font-size: 1.5rem;
                        font-style: italic;
                        font-weight: 300;
                        line-height: 36px;
                        text-align: center;
                    }
                    // @include tablet {
                    //     width: auto;
                    // }
                    @media (max-width: 767px) {
                        font-size: 1rem;
                        font-style: italic;
                        font-weight: 300;
                        line-height: 24px;
                        text-align: center;
                        margin: 0 auto;
                        // width: 80%;
                    }
                    &::before {
                        content: url('/assets/images/icons/sym-open-quote-optimized.svg');
                        z-index: 100;
                        position: absolute;
                        @media (min-width: 768px) {
                            top: -40px;
                            left: -65px;
                            width: 56px;
                            height: 47px;
                        }
                        // @include tablet {
                        //     top: 25px;
                        //     left: 0;
                        //     // font-size: 400%;
                        // }
                        @media (max-width: 767px) {
                            left: 47.5%;
                            top: -43px;
                            height: 24px;
                            width: 29px;
                        }
                        @media (max-width: 600px) {
                            left: 45%;
                        }
                    }
                }
                .quote-author-wrapper {
                    @media (min-width: 768px) {
                        position: absolute;
                        right: -7px;
                        margin-top: 60px;
                    }
                    // @media (max-width: 1200px) {
                    //     right: 38.5vw;
                    //     margin-top: 60px;
                    // }
                    @media (max-width: 767px) {
                        position: relative;
                        text-align: center;
                        // margin-top: 30px;
                        margin: 30px auto 0;
                    }
    
                    & > hr {
                        position: relative;
                        width: 60px;
                        height: 2px;
                        box-sizing: border-box;
                        border: 2px solid #36CD1D;
                        @media (min-width: 768px) {
                            position: absolute;
                            top: -25px;
                            left: 0;
                            margin-bottom: 1em;
                        }
                        @media (max-width: 767px) {
                            margin-bottom: 15px;
                        }
                    }
    
                    & > .testimonial-author {
                        color: #575757;
                        font-size: 1.5rem;
                        font-weight: bold;
                        line-height: 24px;
                        @media (min-width: 768px) {
                            // margin-top: 1em;
                        }
                        @include phone {
                            // margin-top: 0.5em;
                        }
                    }
                    & > .testimonial-company {
                        color: #A7A7A7;
                        font-size: 1rem;
                        font-style: italic;
                        font-weight: 500;
                        line-height: 24px;
                    }
                }
            }
    
            & > .slick-arrow,
            & > .slick-arrow:before {
                display: none;
                color: inherit;
            }

            & > .slick-dots {
                position: relative;
                bottom: 0;
                margin-top: 69px;

                & > li {
                    width: 10px;
                    height: 10px;
                    margin: 0 10px;
                    
                    &.slick-active {
                        & > button:before {
                            // color: $appstem-green;
                            border: 2px solid $appstem-green;
                            background-color: $appstem-green;
                        }
                    }

                    & > button:hover {
                        &:before {
                            border-color: $appstem-green;
                            background-color: #b3b3b3;
                            opacity: 0.6;
                        }
                    }
                    & > button:before {
                        width: 10px;
                        height: 10px;
                        color: transparent;
                        background-color: #b3b3b3;
                        // font-size: 1rem;
                        border: 2px solid #b3b3b3;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}
