@import '../../styles/styles.scss';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

// Testimonials
$testimonials-company-color: #A7A7A7;
$testimonials-text-color: #222222;

.testimonial-slider {
    background-color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    @include desktop {
        margin: 0 auto;
    }
    @include tablet {
        margin: 0 auto;
    }
    @include phone {
        margin: 0 auto;
    }

    
    .cta-wrapper {

        & > h2 + hr {
            @include desktop {
                margin-bottom: 182px;
            }
            @include tablet {
                margin-bottom: 135px;
            }
            @include phone {
                margin-bottom: 96px;
            }
        }

        .slick-slider {
            margin: 0 auto;
            
            @include tablet {
                width: 65%;
            }
            @include phone {
                width: 100%;
            }
            & > .slick-list {
                overflow: visible;

                .testimonial-content {
                    margin: 0 auto;
                    position: relative;
                    overflow: visible;
                    @include desktop {
                        width: 644px;
                        color: #222222;
                        font-size: 1.5rem;
                        font-style: italic;
                        font-weight: 300;
                        line-height: 36px;
                        text-align: center;
                    }
                    @include tablet {
                        width: auto;
                    }
                    @include phone {
                        font-size: 1rem;
                        font-style: italic;
                        font-weight: 300;
                        line-height: 24px;
                        text-align: center;
                        margin: 0 auto;
                        width: 80%;
                    }
                    &::before {
                        content: url('/assets/images/icons/sym-open-quote-optimized.svg');
                        z-index: 100;
                        position: absolute;
                        @include desktop {
                            top: -40px;
                            left: -65px;
                            width: 56px;
                            height: 47px;
                        }
                        // @include tablet {
                        //     top: 25px;
                        //     left: 0;
                        //     // font-size: 400%;
                        // }
                        @include phone {
                            left: 46%;
                            top: -43px;
                            height: 24px;
                            width: 29px;
                        }
                    }
                }
                .quote-author-wrapper {
                    position: relative;
                    @include desktop {
                        left: 65%;
                        margin-top: 60px;
                    }
                    @include tablet {
                        left: 0;
                        text-align: center;
                    }
                    @include phone {
                        left: 0;
                        text-align: center;
                        margin-top: 35px;
                    }
    
                    & > hr {
                        position: relative;
                        width: 60px;
                        height: 2px;
                        box-sizing: border-box;
                        border: 2px solid #36CD1D;
                        @media (min-width: 768px) {
                            left: 52.4%;
                            margin-bottom: 1em;
                        }
                        @media (max-width: 767px) {
                            left: 0;
                            margin-bottom: 15px;
                        }
                    }
    
                    & > .testimonial-author {
                        color: #575757;
                        font-size: 1.5rem;
                        font-weight: bold;
                        line-height: 24px;
                        @include desktop {
                            margin-top: 1em;
                        }
                        @include phone {
                            // margin-top: 0.5em;
                        }
                    }
                    & > .testimonial-company {
                        color: #A7A7A7;
                        font-size: 1rem;
                        font-style: italic;
                        font-weight: 500;
                        line-height: 24px;
                    }
                }
            }
    
            & > .slick-arrow,
            & > .slick-arrow:before {
                display: none;
                color: inherit;
            }

            & > .slick-dots {
                position: relative;
                bottom: 0;
                margin-top: 69px;

                & > li {
                    width: 10px;
                    height: 10px;
                    margin: 0 10px;
                    
                    &.slick-active {
                        & > button:before {
                            // color: $appstem-green;
                            border: 2px solid $appstem-green;
                            background-color: $appstem-green;
                        }
                    }

                    & > button:hover {
                        &:before {
                            border-color: $appstem-green;
                            background-color: #b3b3b3;
                            opacity: 0.6;
                        }
                    }
                    & > button:before {
                        width: 10px;
                        height: 10px;
                        color: transparent;
                        background-color: #b3b3b3;
                        // font-size: 1rem;
                        border: 2px solid #b3b3b3;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}
