:root {
  --page-background-color: #fafafa;
  --page-text-color: #1e1e1e;
  --body-background-color: #1e1e1e;
  --body-text-color: #fafafa;
  --link-color: #fafafa;
  --appstem-green: #3cd52e;

  /* heading sizes */
  --min-header-font-size: 24px;
  --max-header-font-size: 32px;
}

@font-face {
  font-family: brandon-grotesque;
  src: url(https://use.typekit.net/af/39f077/0000000000000000000132df/27/l?primer=b997bcdf54b83a9f7b731c29130c4fbe326c83acb7cf220896c6041d3c02ba6a&fvd=n4&v=3) format("woff2"), 
       url(https://use.typekit.net/af/39f077/0000000000000000000132df/27/d?primer=b997bcdf54b83a9f7b731c29130c4fbe326c83acb7cf220896c6041d3c02ba6a&fvd=n4&v=3) format("woff"), 
       url(https://use.typekit.net/af/39f077/0000000000000000000132df/27/a?primer=b997bcdf54b83a9f7b731c29130c4fbe326c83acb7cf220896c6041d3c02ba6a&fvd=n4&v=3) format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: brandon-grotesque;
  src: url(https://use.typekit.net/af/e4603e/0000000000000000000132e3/27/l?primer=b997bcdf54b83a9f7b731c29130c4fbe326c83acb7cf220896c6041d3c02ba6a&fvd=n7&v=3) format("woff2"), 
       url(https://use.typekit.net/af/e4603e/0000000000000000000132e3/27/d?primer=b997bcdf54b83a9f7b731c29130c4fbe326c83acb7cf220896c6041d3c02ba6a&fvd=n7&v=3) format("woff"), 
       url(https://use.typekit.net/af/e4603e/0000000000000000000132e3/27/a?primer=b997bcdf54b83a9f7b731c29130c4fbe326c83acb7cf220896c6041d3c02ba6a&fvd=n7&v=3) format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: brandon-grotesque;
  src: url(https://use.typekit.net/af/6c39dc/0000000000000000000132de/27/l?primer=b997bcdf54b83a9f7b731c29130c4fbe326c83acb7cf220896c6041d3c02ba6a&fvd=i3&v=3) format("woff2"), 
       url(https://use.typekit.net/af/6c39dc/0000000000000000000132de/27/d?primer=b997bcdf54b83a9f7b731c29130c4fbe326c83acb7cf220896c6041d3c02ba6a&fvd=i3&v=3) format("woff"), 
       url(https://use.typekit.net/af/6c39dc/0000000000000000000132de/27/a?primer=b997bcdf54b83a9f7b731c29130c4fbe326c83acb7cf220896c6041d3c02ba6a&fvd=i3&v=3) format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: fira-sans;
  src: url(https://use.typekit.net/af/ea7786/000000000000000000015877/27/l?primer=b997bcdf54b83a9f7b731c29130c4fbe326c83acb7cf220896c6041d3c02ba6a&fvd=n1&v=3) format("woff2"), 
       url(https://use.typekit.net/af/ea7786/000000000000000000015877/27/d?primer=b997bcdf54b83a9f7b731c29130c4fbe326c83acb7cf220896c6041d3c02ba6a&fvd=n1&v=3) format("woff"), 
       url(https://use.typekit.net/af/ea7786/000000000000000000015877/27/a?primer=b997bcdf54b83a9f7b731c29130c4fbe326c83acb7cf220896c6041d3c02ba6a&fvd=n1&v=3) format("opentype");
  font-weight: 100;
  font-style: normal;
}
.tk-brandon-grotesque {
  font-family: "brandon-grotesque", sans-serif;
}

.tk-fira-sans {
  font-family: "fira-sans", sans-serif;
}
.all-caps {
  text-transform: uppercase;
}
body {
  font-family: 'brandon-grotesque', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: var(--body-text-color);
  background-color: var(--body-background-color);
  width: 100%;
  height: 100vh;
  max-width: 1400px;
}

a {
  text-decoration: none;
  color: var(--link-color);
  font-weight: bold;
}

img {
  max-width: 100%;
}

.content {
  padding: 1rem;
}

/* Breakpoints */
@media print, screen and (min-width: 1401px) {
  body {
    margin: 0 auto;
  }
}
