@import 'styles/styles.scss';

body {
  font-family: $primary-font-family, sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: $body-text-color;
  background-color: $body-background-color;
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  max-width: 100vw;

  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
  }

  .app-wrapper {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }
  
  .content {
    padding: 1rem;
  }

  .page-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 48px;
    padding-top: 15px;
    background-color: $footerBottomBackgroundColor;
    color: $footer-copywrite-color;
    font-size: 11px;
    letter-spacing: 0.85px;
    line-height: 16px;


    .footer-copyright {
        margin-left: 22.25em;
    }
    .footer-legal {
      display: flex;
      flex-direction: row;
      margin-right: 22.5em;

      a {
        color: inherit;
      }

      .footer-terms {
        margin-right: 32px;
      }
    }
    @include tablet {
      
    }
  }

  @media (min-width: 1401px) {
      margin: 0 auto;
  }
}
