@import '../../styles/styles.scss';

.hamburger {
	display: none;
	height: 20px;
	width: 33px;
	flex-direction: column;
	justify-content: space-between;

	@include phone {

	}
	
	.line {
		box-sizing: border-box;
		height: 2px;
		background-color: $page-background-color;
		margin: 1px 0;
	}
	.line-1 {
		width: 28px;
	}
	.line-2 {
		width: 20px;
	}
	.line-3 {
		width: 32px;
	}
}