@import '../../styles/styles.scss';

.nav-wrapper {
  display: flex;
  flex-flow: row;
  justify-content: space-between;

  @include phone {
    .hamburger {
      display: flex;
    }
    .footer-wrapper .hamburger {
      display: none;
    }
  }
  @include tablet {
    .header-wrapper .hamburger,
    .footer-wrapper .hamburger {
      display: none;
    }
  }

  nav {
    height: auto;
    width: auto;
    color: $primary-font-color;
    font-family: $primary-font-family;
    font-size: 14px;
    letter-spacing: 1.75px;
    line-height: 20px;
    margin-right: 8em;
    
    @include tablet {
      margin-right: 4em;
    }
    @include phone {
      display: none;
    }

    & > a {
      color: $link-color;
      padding: 1em;
      display: inline-block;
      
      &:hover {
        text-decoration: underline;
      }

      &:last-child {
        border: 1px solid $link-color;
        margin-left: 1em;
      }
    }
  }
}
