@import '../../styles/styles.scss';

nav {
  height: auto;
  width: auto;
  
  & > a {
    color: $link-color;
    padding: 1rem;
    display: inline-block;
    
    &:last-child {
      border: 1px solid $link-color;
      margin-left: 1em;
    }
  }
}
  
@media (max-width: 805px) {
  .header-wrapper {

    nav {
      display: none;
    }
    .hamburger {
      display: flex;
    }
  }
  .footer-wrapper .hamburger {
    display: none;
  }
}
@media (min-width: 806px) {
  .header-wrapper .hamburger,
  .footer-wrapper .hamburger {
    display: none;
  }
}