@import '../../styles/styles.scss';

.work {
    color: $primary-font-color;
    background: $primary-background-color;
    
    @include desktop {
        margin-top: 25rem !important;
        padding-top: 1rem !important;
        padding-bottom: 5em;
    }
    @include tablet {
        padding-top: 1rem !important;
    }
    @include phone {
        padding-top: 0 !important;
    }

    .angled-section {
        @media (min-width: 1701px) and (max-width: 2000px) {
            margin-bottom: -11% !important;
        }
        @media (min-width: 1601px) and (max-width: 1700px) {
            margin-bottom: -9% !important;
        }
        @media (min-width: 1501px) and (max-width: 1600px) {
            margin-bottom: -8.5% !important;
        }
        @media (min-width: 1401px) and (max-width: 1500px) {
            margin-bottom: -8% !important;
        }
        @media (min-width: 1301px) and (max-width: 1400px) {
            margin-bottom: -7.5% !important;
        }
        @media (min-width: 1200px) and (max-width: 1300px) {
            margin-bottom: -7% !important;
        }
        @include desktop {
            margin-bottom: -7%;
        }
        @include tablet {
            margin-bottom: -7%;
        }
        @include phone {
            margin-bottom: -7%;
        }

        .feature-block {
            @include tablet {
                padding: 5rem 0;
            }
        }
    }
    .bg-regular {
        background: radial-gradient(circle, #6A6A6A 0%, rgba(12,12,12,0) 100%);
        background-size: 150% 100%;
        background-position-x: right;
        background-repeat: no-repeat;
    }
    .bg-alternate {
        background-color: #1C1819;
        background: radial-gradient(circle, rgba(62,62,62,0.52) 0%, rgba(12,12,12,0.38) 100%);
        background-size: 150% 100%;
        background-position-x: left;
        background-repeat: no-repeat;
    }
}
