@import '../../styles/viewport-sizes.scss';

.work {
    color: #fafafa;
    background: #1e1e1e;
    @include phone { margin-top: -9.5%; }
    @media (min-width: 768px) { margin-top: -9.1%; }
    
    & > .case-study-section {
        margin: -7% auto;
        @include phone { padding: 85px 0; }
        @include tablet { 
            height: 876.28px;
            padding: 150px 0;
        }
        @include desktop { height: 876.28px; }
        &:first-of-type {
            margin-top: 0;
        }
        &:nth-of-type(2) {
            @include tablet {
                padding: 100px 0 200px;
            }
        }
        &:nth-of-type(3) {
            @include tablet { 
                padding: 150px 0 200px;
            }
        }
        &:nth-of-type(4) {
            @include tablet { 
                padding: 100px 0 200px;
            }
        }
        &:nth-of-type(5) {
            @include tablet { 
                padding: 100px 0 200px;
            }
        }
        &:nth-of-type(6) {
            @include tablet { 
                padding: 100px 0 200px;
            }
        }
        &:nth-of-type(7) {
            @include tablet { 
                padding: 100px 0 200px;
            }
        }
        &:nth-of-type(8) {
            @include phone {
                padding-top: 135px;
            }
            @include tablet { 
                padding: 100px 0 100px;
            }
        }
        &:nth-of-type(9) {
            @include tablet { 
                padding-bottom: 200px;
            }
        }
        &:nth-of-type(10) {
            @include tablet { 
                padding-bottom: 200px;
            }
        }
        &:nth-of-type(11) {
            @include phone {
                padding-top: 135px;
            }
            @include tablet { 
                padding-bottom: 200px;
            }
        }
        &:nth-of-type(13) {
            @include tablet { 
                padding: 75px 0 150px;
            }
        }
        &:nth-of-type(14) {
            @include phone {
                padding-top: 135px;
            }
            @include tablet { 
                padding: 75px 0 150px;
            }
        }
        &:last-of-type {
            margin-bottom: 0;
            @include tablet { 
                padding-bottom: 200px;
            }
        }

        & > .feature-block {
            @media (min-width: 768px) {
                width: 100%;
            }
            @include tablet {
                max-width: 95vw;
            }
            @include desktop {}
            @media (min-width: 1200px) {
                max-width: 1200px;
            }

            & > .feature-block-image {
    
                @include phone {
                    max-width: 360px;
                }
                @include tablet {
                    max-width: 500px;
                    margin-bottom: 50px;
                }
                @include desktop {
                    max-width: 500px;
                }
            }
            & > .feature-block-details {
                @include phone {
                    width: 100%;
                }
                @include tablet {
                    width: 85%;
                }
                @include desktop {}
    
                & > h2 {
                    @include phone {
                        color: #FFFFFF;
                        font-size: 1.6rem;
                        line-height: 37px;
                    }
                    @media (min-width: 768px) {
                        color: #FFFFFF;
                        font-size: 2.188rem;
                        font-weight: bold;
                        letter-spacing: 7px;
                        line-height: 50px;
                        margin-top: 0;
                    }
                }
                & > .feature-block-project-type {
                    @include phone {
                        color: #9B9B9B;
                        font-size: 1.125rem;
                        line-height: 26px;
                    }
                    @media (min-width: 768px) {
                        color: #9B9B9B;
                        font-size: 1.125rem;
                        line-height: 36px;
                        margin-top: -5px;
                    }
                }
                & > .feature-block-project-description {
                    @include phone {
                        font-size: 1.125rem;
                        color: #FFFFFF;
                        letter-spacing: 4.06px;
                        line-height: 25px;
                    }
                    @media (min-width: 768px) {
                        color: #E7E7E7;
                        font-size: 1.125rem;
                        line-height: 36px;
                        margin-bottom: 45px;
                    }
                }
                & > a {
                    @include phone {
                        font-size: 0.8125rem;
                    }
                    @media (min-width: 768px) {
                        color: #FFFFFF;
                        font-size: 1rem;
                        font-weight: bold;
                        letter-spacing: 5px;
                        line-height: 25px;
                    }
                }
            }

            &.case-0 {
                & > img {
                    position: relative;
                    @include phone {
                        transform: scale(.85);
                    }
                    @include tablet {
                        max-width: unset;
                        transform: scale(.85);
                    }
                    @include desktop {
                        // max-width: unset;
                        // left: 50px;
                        // transform: scale(.85);
                    }
                }
                & > .feature-block-details {
                    @include tablet {
                        // width: unset;
                    }
                }
            }
            &.case-1 {
                @include tablet {
                    // margin-bottom: 100px;
                }
                & > img {
                    position: relative;
                    @include phone {
                        transform: scale(.85);
                    }
                    @include tablet {
                        max-width: unset;
                        transform: scale(0.5);
                    }
                    @include desktop {
                        // max-width: unset;
                        // right: 235px;
                        // transform: scale(0.73);
                    }
                }
                & > .feature-block-details {
                    @include tablet {
                        // width: unset;
                        margin-top: -115px;
                    }
                }
            }
            &.case-2 {
                & > img {
                    position: relative;
                    @include phone {
                        transform: scale(.7);
                    }
                    @include tablet {
                        transform: scale(.8);
                        // left: 48px;
                    }
                    @include desktop {
                        justify-self: baseline;
                    }
                }
            }
            &.case-3 {
                & > img {
                    position: relative;
                    @include phone {
                        transform: scale(.7);
                    }
                    @include tablet {
                        transform: scale(.75);
                        // right: 70px;
                    }
                }
            }
            &.case-4 {
                & > img {
                    position: relative;
                    @include phone {
                        transform: scale(.80);
                    }
                    @include tablet {
                        max-width: unset;
                        // left: 90px;
                        transform: scale(.75);
                    }
                    @include desktop {
                        // max-width: unset;
                        // left: 90px;
                        // transform: scale(.85);
                    }
                }
                & > .feature-block-details {}
            }
            &.case-5 {
                & > img {
                    position: relative;
                    @include phone {
                        transform: scale(.7);
                    }
                    @include tablet {
                        transform: scale(.75);
                        // right: 100px;
                    }
                }
            }
            &.case-6 {
                & > img {
                    position: relative;
                    @include phone {
                        transform: scale(.95);
                    }
                    @include tablet {
                        max-width: unset;
                        // left: 100px;
                        transform: scale(.65);
                        // left: 170px;
                    }
                    @include desktop {
                        // max-width: unset;
                        // left: 100px;
                        // transform: scale(.8);
                    }
                }
                & > .feature-block-details {}
            }
            &.case-7 {
                & > img {
                    position: relative;
                    @include phone {
                        // transform: scale(1.1);
                    }
                    @include tablet {
                        max-width: unset;
                        transform: scale(.75);
                        // left: -185px;
                    }
                    @include desktop {
                        max-width: unset;
                        left: 45px;
                    }
                }
            }
            &.case-8 {
                margin: 0;
                & > img {
                    position: relative;
                    @include phone {
                        transform: scale(.6);
                    }
                    @include tablet {
                        // left: 25px;
                        transform: scale(.80);
                    }
                    @include desktop {
                        // right: 145px;
                        transform: scale(.80);
                    }
                }
            }
            &.case-9 {
                & > img {
                    position: relative;
                    @include phone {
                        transform: scale(.80);
                    }
                    @include tablet {
                        // right: 100px;
                        transform: scale(.80);
                    }
                    @include desktop {
                        right: 25px;
                    }
                }
            }
            &.case-10 {
                & > img {
                    position: relative;
                    @include phone {
                        transform: scale(1.1);
                    }
                    @include tablet {
                        max-width: unset;
                        transform: scale(.7);
                    }
                    @include desktop {
                        max-width: unset;
                        transform: scale(0.7);
                        justify-self: center;
                        right: 70px;
                    }
                }
                & > .feature-block-details {
                    // margin-left: -345px;
                }
            }
            &.case-11 {
                & > img {
                    position: relative;
                    @include phone {
                        transform: scale(.80);
                    }
                    @include tablet {
                        transform: scale(0.8);
                        // right: 135px;
                    }
                    @include desktop {
                        right: 68px;
                        max-width: unset;
                        transform: scale(0.9);
                    }
                }
                & > .feature-block-details {
                    // margin-left: -345px;
                }
            }
            &.case-12 {
                & > img {
                    position: relative;
                    @include phone {
                        transform: scale(1.05);
                    }
                    @include tablet {
                        max-width: unset;
                        transform: scale(0.6);
                        // left: 250px;
                    }
                    @include desktop {
                        max-width: unset;
                        position: relative;
                        margin: unset;
                        right: 375px;
                        transform: scale(0.90);
                    }
                }
                & > .feature-block-details {
                    // margin-left: -182px;
                }
            }
            &.case-13 {
                & > img {
                    position: relative;
                    @include phone {
                        transform: scale(1.1);
                    }
                    @include tablet {
                        max-width: unset;
                        transform: scale(0.6);
                        // right: 250px;
                    }
                    @include desktop {
                        max-width: unset;
                        right: 50px;
                    }
                }
                & > .feature-block-details {
                    // margin-right: 0;
                }
            }
            &.case-14 {
                & > img {
                    position: relative;
                    @include phone {
                        transform: scale(.7);
                    }
                    @include tablet {
                        max-width: unset;
                        transform: scale(0.8);
                        top: 0;
                        // left: 45px;
                    }
                    @include desktop {
                        max-width: unset;
                        top: -90px;
                    }
                }
            }
        }
        &.bg-regular {
            background: radial-gradient(circle, #6A6A6A 0%, rgba(12,12,12,0) 100%);
            background-size: 150% 100%;
            background-position-x: right;
            background-repeat: no-repeat;
        }
        &.bg-alternate {
            background-color: #1C1819;
            background: radial-gradient(circle, rgba(62,62,62,0.52) 0%, rgba(12,12,12,0.38) 100%);
            background-size: 150% 100%;
            background-position-x: left;
            background-repeat: no-repeat;
        }
    }
}
