@import '../../styles/styles.scss';

.work {
    color: $primary-font-color;
    background: $primary-background-color;

    @media (max-width: 767px) {
        margin-top: -7.5%;
    }
    @media (min-width: 768px) {
        margin-top: -7.1%;
    }
    
    .feature-block {

        & > .feature-block-image {
            // @media (max-width: 767px) {
            //     max-width: 60%;
            // }
            // @media (min-width: 768px) {
            //     max-width: 60%;
            // }
            @include phone {max-width: 60%;}
            @include tablet {
                max-width: 40%;
                margin-left: 2em;
            }
            @include desktop {max-width: 60%;}
        }
        & > .feature-block-details {
            @media (max-width: 767px) {}
            @media (min-width: 768px) {}

            & > h2 {
                @media (max-width: 767px) {
                    color: #FFFFFF;
                    font-size: 1.6rem;
                    line-height: 37px;
                    text-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
                }
                @media (min-width: 768px) {
                    
                }
            }
            & > .feature-block-project-type {
                @media (max-width: 767px) {
                    color: #9B9B9B;
                    font-size: 1.125rem;
                    line-height: 26px;
                }
                @media (min-width: 768px) {
                    
                }
            }
            & > .feature-block-project-description {
                @media (max-width: 767px) {
                    font-size: 1.125rem;
                    color: #FFFFFF;
                    letter-spacing: 4.06px;
                    line-height: 25px;
                }
                @media (min-width: 768px) {
                    
                }
            }
            & > a {
                @media (max-width: 767px) {
                    font-size: 0.8125rem;
                }
                @media (min-width: 768px) {
                    
                }

            }
        }
    }

    .angled-section {
        @include desktop {
            margin-bottom: -7%;
        }
        @include tablet {
            padding-top: 5em;
            margin-bottom: -7%;
        }
        @include phone {
            padding-top: 5em;
            margin-bottom: -7%;
        }

        .feature-block {
            @include tablet {
                padding: 5rem 0;
            }
        }
    }
    .bg-regular {
        background: radial-gradient(circle, #6A6A6A 0%, rgba(12,12,12,0) 100%);
        background-size: 150% 100%;
        background-position-x: right;
        background-repeat: no-repeat;
    }
    .bg-alternate {
        background-color: #1C1819;
        background: radial-gradient(circle, rgba(62,62,62,0.52) 0%, rgba(12,12,12,0.38) 100%);
        background-size: 150% 100%;
        background-position-x: left;
        background-repeat: no-repeat;
    }
}
