@import '../../styles/styles.scss';

.feature-block-wrapper {
    width: 100%;
    padding: 20% 0;
    justify-items: center;
    align-items: center;
    background-color: $featureblocks-bg-color;
    background: radial-gradient(circle, rgba(62,62,62,0.52) 0%, rgba(12,12,12,0.38) 100%);

    @include phone {
        display: flex;
        flex-direction: column-reverse;
    }
    @include tablet {
        display: grid;
        grid-gap: 0px;
        grid-template-areas: 'details''image';
    }
    @include desktop {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5em;
    }

    .feature-block-image {
        grid-area: image;
    }

    .feature-block-details {
        grid-area: details;

        h2 {
            color: $featureblocks-heading-color;
            font-family: $primary-font-family;
            font-size: 35px;
            font-weight: bold;
            letter-spacing: 7px;
            line-height: 50px;
        }
        .feature-block-project-type {
            color: $featureblocks-project-type-color;
            font-family: $primary-font-family;
            font-size: 24px;
            line-height: 42px;
        }
        .feature-block-project-description {
            color: $featureblocks-project-desc-color;
            font-family: $primary-font-family;
            font-size: 24px;
            line-height: 42px;
            max-width: 500px;
        }
        a {
            color: $featureblocks-link-color;
            font-family: $primary-font-family;
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 5px;
            line-height: 25px;
        }
    }
}
.feature-image-left {
    @include desktop {
        grid-template-areas: 'image details';
    }
}
.feature-image-right {
    @include desktop {
        grid-template-areas: 'details image';
    }
}
