
.feature-block {
    display: flex;
    padding: 10% 0;
    justify-items: center;
    align-items: center;

    @media (max-width: 767px) {
        margin: 1em auto;
        flex-direction: column;
    }
    @media (min-width: 768px) {
        flex-direction: row;
    }

    & > .feature-block-image {
        @media (max-width: 767px) {}
        @media (min-width: 768px) {}
    }

    & > .feature-block-details {
        text-align: left;
        @media (max-width: 767px) {
            width: 89%;
            margin: 0 auto;
        }
        @media (min-width: 768px) {
            width: 100%;
        }

        & > h1,
        & > h2,
        & > h3,
        & > h4 {
            color: #ffffff;
            @media (max-width: 767px) {
                font-size: 1.125rem;
                letter-spacing: 3.6px;
                line-height: 26px;
                margin-bottom: 0;
            }
            @media (min-width: 768px) {
                font-size: 2.188rem;
                font-weight: bold;
                letter-spacing: 7px;
                line-height: 50px;
                margin-bottom: 0;
            }
        }
        & > .feature-block-project-type {
            
            @media (max-width: 767px) {
             
                line-height: 16px;
                margin: 0;
            }
            @media (min-width: 768px) {
                color: #9B9B9B;
                font-size: 1.125rem;
                line-height: 36px;
                margin-top: 0;
            }
        }
        & > .feature-block-project-description {
            color: #e7e7e7;
            max-width: 500px;
            @media (max-width: 767px) {
                font-size: 1rem;
                line-height: 24px;
            }
            @media (min-width: 768px) {
                color: #E7E7E7;
                font-size: 18px;
                line-height: 36px;
            }
        }
        & > a {
            text-decoration: none;
            text-transform: uppercase;
            color: #FFFFFF;
            
            @media (max-width: 767px) {
                font-size: 0.8125rem;
                letter-spacing: 4.06px;
            }
            @media (min-width: 768px) {
                font-size: 16px;
                font-weight: bold;
                letter-spacing: 5px;
                line-height: 25px;
            }
        }
    }
    &.feature-image-left {
        @media (max-width: 767px) {}
        @media (min-width: 768px) {
            flex-direction: row;
        }
        & > .feature-block-image {
            @media (max-width: 767px) {}
            @media (min-width: 768px) {
                margin-right: 118px;
            }
        }
        & > .feature-block-details {
            margin-top: 130px;
            @media (max-width: 767px) {}
            @media (min-width: 768px) {
                margin-left: 66px;
            }
        }
    }
    &.feature-image-right {
        @media (max-width: 767px) {}
        @media (min-width: 768px) {
            flex-direction: row-reverse;
        }
        & > .feature-block-image {
            @media (max-width: 767px) {}
            @media (min-width: 768px) {
                margin-left: 118px;
            }
        }
        & > .feature-block-details {
            margin-top: 130px;
            @media (max-width: 767px) {}
            @media (min-width: 768px) {
                margin-right: 66px;
            }
        }
    }
}
