
.feature-block {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 'image details';
    justify-items: center;
    align-items: center;

    @media (max-width: 767px) {
        display: flex;
        margin: 2em auto;
        flex-direction: column;
    }

    & > .feature-block-image {
        grid-area: image;
        @media (max-width: 767px) {}
        @media (min-width: 768px) and (max-width: 1024px) {}
        @media (min-width: 1025px) {}
    }

    & > .feature-block-details {
        grid-area: details;
        text-align: left;
        @media (max-width: 767px) {
            width: 89%;
            margin: 0 auto;
        }
        @media (min-width: 768px) and (max-width: 1024px) {}
        @media (min-width: 1025px) {}

        & > h1,
        & > h2 {
            color: #ffffff;
            @media (max-width: 767px) {
                font-size: 1.6rem;
                line-height: 37px;
                font-weight: bold;
                margin-bottom: 0;
            }
            @media (min-width: 768px) {
                font-size: 2.188rem;
                font-weight: bold;
                letter-spacing: 7px;
                line-height: 50px;
                margin-bottom: 0;
            }
        }
        & > .feature-block-project-type {
            color: #9B9B9B;

            @media (max-width: 767px) {
                font-size: 1.125rem;
                line-height: 26px;
                margin: 0;
            }
            @media (min-width: 768px) {
                font-size: 1.125rem;
                line-height: 36px;
                margin-top: 0;
            }
        }
        & > .feature-block-project-description {
            color: #e7e7e7;
            max-width: 500px;
            @media (max-width: 767px) {
                font-size: 1.125rem;
                line-height: 24px;
            }
            @media (min-width: 768px) {
                font-size: 1.125rem;
                line-height: 36px;
            }
        }
        & > a {
            text-decoration: none;
            text-transform: uppercase;
            color: #FFFFFF;
            
            @media (max-width: 767px) {
                font-size: 0.8125rem;
                font-weight: bold;
                letter-spacing: 4.06px;
                line-height: 25px;
            }
            @media (min-width: 768px) {
                font-size: 1rem;
                font-weight: bold;
                letter-spacing: 5px;
                line-height: 25px;
            }
        }
    }
    &.feature-image-left {
        @media (max-width: 767px) {}
        @media (min-width: 768px) {
            grid-template-areas: 'image details';
        }
        & > .feature-block-image {
            @media (max-width: 767px) {}
            @media (min-width: 768px) {
                justify-self: end;
            }
        }
        & > .feature-block-details {
            @media (max-width: 767px) {}
            @media (min-width: 768px) {
                justify-self: baseline;
            }
        }
    }
    &.feature-image-right {
        @media (max-width: 767px) {}
        @media (min-width: 768px) {
            grid-template-areas: 'details image';
        }
        & > .feature-block-image {
            @media (max-width: 767px) {}
            @media (min-width: 768px) {
                justify-self: baseline;
            }
        }
        & > .feature-block-details {
            @media (max-width: 767px) {}
            @media (min-width: 768px) {
                justify-self: end;
            }
        }
    }
}
