@import '../../styles/styles.scss';

.footer-form {
    position: relative;
    // display: grid;
    width: 100%;

    .email-input-field {
        border: none;
        border-bottom: 1px solid #9B9B9B;
        background-color: inherit;
        color: #FFFFFF;
        z-index: 100;
        @include phone {
            width: 98%;
            opacity: 0.5;
            font-size: 1rem;
            line-height: 23px;
        }
        @media (min-width: 768px) {
            width: 284px;
        }

        // &:focus + label {
        //     transform: translate(-50px, -15px) scale(0.75);
        //     color: $appstem-green;
        //     opacity: 1;
        // }
    }
    
    label#status {
        @include phone {
            text-align: center;
        }
    }
    .footer-form-submit-button {
        background: url('../../../public/assets/images/icons/ic_arrow_green.png');
        background-repeat: no-repeat;
        border: 0;
        display: inline-block;
        height: 20px;
        width: 22px;
        position: absolute;
        right: 0;
        bottom: 0;
    }
}